[2015-04-20 19:44] #383 closed

[2015-04-20 20:52] daviferreira commented on #564
Nice stuff, I think you should definitely publish as an extension!

[2015-04-20 20:52] daviferreira commented on #564
I mean, with a repo, npm module etc. :P

[2015-04-20 23:49] thomstark commented on #251
I want! I want all <p> tags and all <divs> disabled, and only <br> tags when hitting Return.

[2015-04-21 01:15] phiggins42 commented on #564
def nice, agree. Because coffeescript currently I wouldn't suggesting adopting it offically/proper, but can totally see a usecase for allowing these kinds of extensions (or any extension, rather) 1st-class access to core utility functions/etc. For instance, instead of doing a poll you could monkey-patch/intercept Util.insertHtml and execInternalAction (or editor could provide before/after hooks, o

[2015-04-21 09:43] NoelBaron commented on #570
@j0k3r @nmielnik Here's what I discovered: When you directly inject an anchor with contenteditable=false, the input trigger doesn't work and the editor is unable to set focus. Once I removed the contenteditable from the equation by using pasteHTML (which strips out that attribute), I was able to properly set focus, along with prefix & suffix white space.

However, I would like to insert links with

[2015-04-21 13:19] nmielnik commented on #570
So I was able to hack something up to get this to work (except in Firefox) and here's what I found:

1. It's the browser that's removing the `contentedtiable=false`, not our code itself.
  * Internally we call `document.execCommand('insertHTML')` to have it replace the selection with custom HTML.
  * Not all browsers support this, so we have code to mimic insertHTML as a fallback.
  * To workaroun

[2015-04-21 14:50] AndyOGo opened #574 "destroy method does not remove .medium-editor-hidden class"
This is important if you want to instantiate the Editor a second time.

As a result the `<div>` with contentEditable will be hidden

[2015-04-21 15:10] NoelBaron commented on #570
Thanks Nate! I will play with this tonight to see where it takes me. I enjoy giving Firefox a good whooping every now and then.

[2015-04-21 15:41] Jacotheron commented on #523
For anyone interested, I have completed an integration of the Spectrum color picker (https://github.com/bgrins/spectrum). My implementation is based partly on the code from Issue #257 and from the examples to create your own plugin.

My Extension Javascript file:

    var colorPickerExtension;
    (function (window, document) {
    'use strict';
    function colorPickerDerived() {// we set our opt

[2015-04-21 17:27] jnettik opened #575 "Full bleed sections"
Thank you for the work on a really solid system. I have one question on something I'm not sure is possible: I need some sections to span the full width of the screen similar to https://medium.com/reportedly/photo-essay-waiting-for-kobane-23268129a761

It looks like Medium does this by wrapping constrained content in one div, and the full width content in another. Currently it seems like this plugi

[2015-04-21 18:18] nmielnik commented on #254
For editing things inside a popover, clicking outside of a dialog (generally) will close the dialog and not persist changes.  We have a 'Checkmark' button that behaves the same was as hitting enter in the keyboard.  Hitting 'escape' or clicking the 'x' will close the popover without persisting changes.

Based on what I've seen in most UX, I wouldn't want to persist the link change when clicking ou

[2015-04-21 18:18] #254 closed

[2015-04-21 18:46] daviferreira commented on #575
We would need a button to create full bleed content based on a selection. I might be achieved with css only using selectors like tilde if you have any content patterns, like every paragraph with a `h3`, for example.

[2015-04-21 18:51] daviferreira commented on #575
You could also use blockquote for that maybe :)

[2015-04-21 21:45] nmielnik opened #576 "Should the .parent option for extensions be deprecated?"
Currently, any extension passed into MediumEditor can choose to set a `.parent` boolean on itself.  During setup, if the value of this property is true for any extension, a reference to the MediumEditor instance is assigned to the `.base` property of that extension.  Some more details are in the [documentation](https://github.com/daviferreira/medium-editor/wiki/Custom-Buttons-and-Extensions#parent

[2015-04-22 07:08] dfguo commented on #383
good stuff! thanks!

[2015-04-22 13:11] j0k3r commented on #576
I agree about that point :+1:
I've written 2 extensions so far and I always use the `parent = true`.

BTW, `this.base.saveSelection()` & `this.base.restoreSelection()` are already available in extension. Or maybe I misunderstood the *helper methods* you described..

[2015-04-22 13:50] phiggins42 commented on #576
right, it's available _through_ base, but we'd be making `.base` always-on (regardless of .parent setting) ... so an "Extension" would just magically have some extra methods curried through to the .base version, but doing their own isolated tracking. eg:

instead of this.base.subscribe("editablePaste") you would `this.subscribe("editablePaste")`, and when the Extension was 'destroy'd anything that

[2015-04-22 14:44] nmielnik commented on #576
Yeah, @j0k3r by saying exposing helper methods, I'm meaning on the extension itself.  So instead of calling `this.base.saveSelection()` you could just call `this.saveSelection()` from the extension.

[2015-04-27 18:56] bborn opened #580 "Setup with textarea doesn't attach event listeners correctly"
See #533 : setup function needs to `initElements` before attaching event listeners (`initCommands`), otherwise the listeners get attached to the textarea, not the contenteditable div. This breaks things like the mouseover anchor link preview functionality, image drag/drop, etc.

@nmielnik

[2015-04-27 19:34] nmielnik commented on #580
The reason why we're doing things in this order is that we create the Toolbar inside `initElements()`.  The toolbar will look through all the extensions that implement a `.getButton` function and call it so that the extension can return an element that will be placed inside the toolbar.

Extensions assume that `.init()` is called before `.getButton()`, so this is why `initCommands()` (which calls

[2015-04-27 20:49] StijnMaenhaut opened #582 "Anchor preview not showing when attached to textarea"
As the subject states: if the editor is linked to a textarea, the anchor preview won't show.

Btw: great work!

[2015-04-27 21:56] nmielnik commented on #580
This should be fixed by #583 and released as part of v4.7.0

[2015-04-27 21:56] #580 closed

[2015-04-27 21:57] nmielnik commented on #582
This should be fixed via #583 and released by v4.7.0

Please let me know if you still see the issue.

[2015-04-27 21:57] #582 closed

[2015-04-27 21:57] nmielnik commented on #582
This issue was also mentioned by #580

[2015-04-27 22:05] StijnMaenhaut commented on #582
Very kind!

Does this also include the bug that upon pasting, the forcePlainText, cleanPastedHTML, cleanTags options aren't doing what they are supposed to?

When will v4.7.0 be released?

Kind regards

[2015-04-27 22:10] nmielnik commented on #582
v4.7.0 should be available now.
________________________________
From: Stijn Maenhaut<mailto:notifications@github.com>
Sent: �4/�27/�2015 6:05 PM
To: daviferreira/medium-editor<mailto:medium-editor@noreply.github.com>
Cc: Nate Mielnik<mailto:nate@webs.com>
Subject: Re: [medium-editor] Anchor preview not showing when attached to textarea (#582)

Very kind!

Does this also include the bug that upon

[2015-04-27 22:14] StijnMaenhaut commented on #582
Just downloaded, checked and everything is ok now! Thanks!

[2015-04-28 16:59] nmielnik commented on #493
The 'input' event currently is not fired on `contenteditable` elements in any version of IE, so we need to find a workaround for IE9+.

IE11 has MutationObserver which works for us, but this is new in IE11.

Because of this issue, we don't fully support the `<textarea>` solution we've implemented, since it relies on the `input` event to synchronize input in the `contenteditable` with the content o

[2015-04-28 21:05] daviferreira commented on #493
How about this by our beloved Tim Down http://stackoverflow.com/a/17763884

[2015-04-29 21:55] malectro opened #585 "AnchorPreview doesn't clean up all its handlers on destroy."
Create an editor and destroy. Then create a second.
[code]
Selecting any text will now throw an error here https://github.com/daviferreira/medium-editor/blob/master/src/js/extensions/anchor-preview.js#L60
[code]
Commenting the following line fixes the issue, but probably affects something I'm not seeing. https://github.com/daviferreira/medium-editor/blob/master/src/js/toolbar.js#L125

[2015-04-30 15:44] j0k3r opened #587 "Shortcut to insert a link"
Medium.com handle <kbd>CTRL</kbd>+<kbd>K</kbd> to show the form to insert a link.
I've looked at #432 and I tried to add the `k` key in the anchor extension:

[code]

Sadly, when I hit <kbd>CTRL</kbd>+<kbd>K</kbd>, it calls the `createLink` action, but without params, so it fails :cry:

![image](https://cloud.githubusercontent.com/assets/62333/7416487/f9f7faba-ef5f-11e4-8725-411e92d6311a.png)

`ha

[2015-04-30 16:15] daviferreira commented on #587
Hmmm... Maybe pass an `onKeydown` option on the button, and the `handleKeydown` method would check for it before calling `execAction`. What do you think?

[2015-04-30 16:16] daviferreira commented on #587
Or just check for the `hasForm`property... Not sure.

[2015-04-30 17:05] nmielnik commented on #587
I would recommend using the approach you had above, where you set the `key` option of the anchor-extension to be <kbd>K</kbd>.

Then the anchor-extension can just override the `handleKeydown` method so that it can check that <kbd>CTRL</kbd> or <kbd>COMMAND</kbd> are down and then just show the form as it would have normally (you can see that code in the `handleClick` method.

[2015-04-30 17:27] daviferreira commented on #587
👍🏼

[2015-05-01 08:17] j0k3r commented on #587
@daviferreira @nmielnik :+1: Good idea!

I'll submit a PR about that.

[2015-05-01 14:01] #587 closed

[2015-05-01 14:22] j0k3r commented on #585
Could you provide a jsfiddle to reproduce? I've tried without success http://jsfiddle.net/pz4wxh55/

[2015-05-01 19:10] brunomperes opened #590 "Is there a way to destroy an instance without a reference to the MediumEditor object?"

[2015-05-01 20:13] patrick-webs opened #591 "Ctrl-K shortcut for link breaks default Mac OS X text editor behavior"
Mac OS browsers, like other Mac applications, [support emacs-inspired keybindings for editing text](http://www.quora.com/Why-are-emacs-style-key-bindings-built-into-Cocoa-text-fields-on-Mac-OS-X). This includes Ctrl-A to go to the beginning of the line and Ctrl-K to go to the end of the line.

As a result of PR #589 , Ctrl-K no longer works in Medium on Macs, instead it creates a link if the text

[2015-05-02 08:33] j0k3r commented on #591
Good point,  I never used <kbd>CTRL</kbd> + <kbd>A</kbd> or <kbd>CTRL</kbd> + <kbd>K</kbd> on my Mac to jump at the beginning or the end of the line.

@daviferreira @nmielnik Do you agree with this kind of detection ([from](http://stackoverflow.com/a/11752084/569101))?

[code]

[2015-05-02 12:39] daviferreira commented on #591
:+1:

[2015-05-02 15:28] brunoksato opened #592 "Problem with H1 and H2"
I'm h1 and h2 problem with the old version of medium Editor was not so, he put h1 and h2 only on where he was selected, he now adds the entire paragraph.

It is to make the h1 and h2 add just where this selected?

[2015-05-02 15:30] brunoksato commented on #546
My temporary solution

    $('.editable > p').each(function () {
                if ($(this).text().indexOf('msoBrowserCheck') != -1) {
                    $(this).remove();
                }
            });

[2015-05-02 19:02] daviferreira commented on #592
Not sure if I understood, but since `h1` and `h2` are block elements this is the expected behavior. I think it was always like that.

[2015-05-02 19:03] #592 closed

[2015-05-04 16:25] pjanuario commented on #498
I am also needing to have the toolbar visible, in matter of user experience styling is not directly understood by all users and if it's not that difficult to implement, it seems a nice option feature.

[2015-05-04 16:37] Sergiy-Babich commented on #498
Have temporary solution with toolbar static + sticky and position: static + visibility:visible

[2015-05-04 17:12] pjanuario commented on #498
@Sergiy-Babich sticky and static doesn't seems to be working for me. Any tip?

I am using npm module with browserify.

[2015-05-04 17:23] Sergiy-Babich commented on #498
Did you use CSS I mentioned?

Надіслано з мого Windows Phone
________________________________
Від: Pedro Januário<mailto:notifications@github.com>
Надіслано: ‎04.‎05.‎2015 20:13
Кому: daviferreira/medium-editor<mailto:medium-editor@noreply.github.com>
Копія: Sergiy Babich<mailto:babich.ss@outlook.com>
Тема: Re: [medium-editor] Option to always show toolbar (#498)

@Sergiy-Babich sticky and static

[2015-05-04 17:57] pjanuario commented on #498
Thanks @Sergiy-Babich I already was able to make it work.

For future readers:
I also needed to set the elementsContainer property, otherwise would appear on document body.

[2015-05-04 19:19] nmielnik commented on #590
Currently there isn't a way to get the instance of medium-editor without storing a reference yourself.

This is a good idea as it sounds like a useful feature however...it is definitely worth a pull request :smile:

[2015-05-04 19:22] nmielnik commented on #591
I think this is a great fix, seems like we might want a helper method like `isMetaCtrlKey()` that takes in an event object, and returns true if it's metaKey on mac, or ctrlKey on non-mac.

:+1:

[2015-05-06 14:38] #591 closed

[2015-05-06 16:31] nmielnik commented on #570
@NoelBaron did you ever have any luck with this?

[2015-05-06 18:04] NoelBaron commented on #570
@nmielnik We had to jump to some other priorities, but we're swinging back to this first thing next week. I definitely need a fix so expect a pull request soon.

[2015-05-07 09:12] steoo opened #595 "Weird markup when aligning text"
Scenario:
1) `JustifyCenter` one paragraph `p`, resulting markup

`<p style="text-align: center;">Phasellus viverra nulla ut metus<br></p>`

2) `JustifyCenter` another paragraph `p`, in a way that the markup results:

`<p style="text-align: center;">Phasellus viverra nulla ut metus<br></p>`
`<p style="text-align: center;">Phasellus viverra nulla ut metus<br></p>`

3) `H1` both the `p` so the marku

[2015-05-07 15:38] nmielnik opened #596 "The supported browser table looks like crap on npm"
We should use an image instead of a github markdown table.

[2015-05-07 15:39] nmielnik commented on #596
![screen shot 2015-05-07 at 11 08 06 am](https://cloud.githubusercontent.com/assets/2444240/7519189/a819e426-f4ad-11e4-8740-626396c5d61b.png)

[2015-05-07 15:40] nmielnik commented on #596
This is fixed

[2015-05-07 15:40] #596 closed

[2015-05-08 20:51] NikitaCh commented on #315
Hi all,

Have same issue as @sslover in FireFox (latest version).

And in IE anchor input not shown at all.

Have you found any workaround ?

Thanks.

[2015-05-11 19:59] nchase commented on #125
is this still an issue?

[2015-05-11 20:25] daviferreira commented on #315
Played around with this and one thing that fixed the behavior for me on FF was setting the elementsContainer to the modal element. Could you guys give that a shot and see if it fixes all the modal problems?

[code]

[2015-05-11 22:19] nmielnik commented on #229
looks like we have a proposed implementation for autolink in #599

[2015-05-12 07:15] #585 closed

[2015-05-12 09:09] steoo commented on #595
@daviferreira I guess we have to start another fight with contenteditable eheh :)

[2015-05-12 09:48] NikitaCh commented on #315
Hi @daviferreira

It works! Thanks!

But position of toolbar calculates not good.

Thanks.

[2015-05-12 17:14] malectro commented on #585
Just saw you closed this. I tried and tried to reproduce in the fiddle, but it turns out this is an issue with Angular (shocking I know) and the way it renders/rerenders the DOM. Sorry for assuming it was an issue with the editor, and thanks for responding so promptly.

[2015-05-12 18:48] daviferreira commented on #585
:+1:  Let us know if you need any help debugging, maybe we can help out :)

[2015-05-13 15:43] yacomink opened #601 "dist file can no longer be included in <head> section of page"
The `document.body.appendChild` introduced in `events.js` in the commit https://github.com/daviferreira/medium-editor/commit/5c24725e4bd7ca977c133884e6045982f410d66e means that this js can no longer be included in the `<head>` of a document. `document.body` will be null when this code is executed in that case.

[2015-05-13 16:25] j0k3r commented on #601
Related to what I wrote few hours in the PR: https://github.com/daviferreira/medium-editor/pull/597/files#r30237312

[2015-05-13 17:01] nmielnik commented on #601
This should be fixed in the 4.8.1 release

[2015-05-13 17:01] #601 closed

[2015-05-14 10:29] valerykalashnikov opened #605 "editableInput event is not present in this.listeners. Nothing happened after subscribing."
In the Readme.md file, here https://github.com/daviferreira/medium-editor#capturing-dom-changes
[code]
but in the attachCustomEvent function there is

[code]

but in this.listeners there is no editableInput event, therefore nothing is happened

[2015-05-14 13:01] nmielnik commented on #605
The first line in `attachCustomEvent()` is a call to `setupListener(event)`, and if you look at that function, you'll see a case-switch based on the event name.

If 'editableInput' is passed as the event name, it will do the work it needs to in order to attach the event [events.js#223](https://github.com/daviferreira/medium-editor/blob/master/src/js/events.js#L223).

The last part of the case is s

[2015-05-14 13:26] valerykalashnikov commented on #605
Sorry, guys! It was my mistake, I've download the outdated version of old the fork.

[2015-05-14 13:27] nmielnik commented on #605
No problem, let us know if you find anything else.

[2015-05-14 13:27] #605 closed

[2015-05-15 16:39] Veejay opened #607 "Switching from ul to ol or vice-versa makes content uneditable"
I was giving medium-editor a try and I noticed that switching from ul to ol (or vice-versa) makes the whole content uneditable.

To reproduce, type a few lines of text, select the lines, click on the ordered list icon, reselect the ordered list and click on the unordered list icon. The whole content is now uneditable and doesn't react to mouse events anymore (seems like the .editable class has bee

[2015-05-15 17:10] Veejay commented on #607
Additional note: I'm using Chrome 42 and it's working as expected on Safari 6 (both of them on Mac OS X). It might just be something with the latest and greatest Chrome (I got an update this morning).

[2015-05-15 17:12] Veejay commented on #607
My bad. I used  <p> as a container with class editable. Works like a charm with <div>.
Closing this non-issue.

[2015-05-15 17:12] #607 closed

[2015-05-15 23:03] Jiert opened #608 "imageDraggable and custom image handling"
I'd love to overwrite the handleDrop method for dragging images into the editor, without overwriting the Medium Editor core.

Pardon my ignorance, but I don't know how to do this since I can't find it anywhere in the prototype chain after instantiating the editor.

One thing I tried was turning the imageDraggable feature OFF and capturing drag events myself, but the Medium editor still wants to do

[2015-05-16 05:44] #304 closed

[2015-05-16 05:46] nmielnik commented on #229
Now that #599 exists, auto-link is supported.  This should be released in v4.9.0 when that comes

[2015-05-16 05:46] #229 closed

[2015-05-16 05:49] nmielnik commented on #136
We now have support for auto-links as of #599

Seems like we shouldn't be too far from having mentions or other types of auto-inserted content if anyone wants to keep the momentum going :smile:

[2015-05-16 14:19] nmielnik commented on #608
So as of right now, there isn't a simple way to override the imagDraggable feature other than turning it off and attaching to the events yourself.  This wouldn't be a difficult thing to turn into an overrideable extension, so we could fix this in the near future.

You can do this by mimicking the code that attaches events [here](https://github.com/daviferreira/medium-editor/blob/master/src/js/core

[2015-05-16 14:24] nmielnik commented on #608
A rough example of a way to override:

[code]

[2015-05-16 15:50] nmielnik commented on #608
I moved the image-dragging into an extension, so you should be able to override the built-in behavior once #609 has been merged in and released.

[2015-05-17 09:29] #544 closed

[2015-05-17 09:34] nmielnik commented on #576
So I think it makes sense to always attach the MediumEditor instance to all extensions and deprecate the  `.parent` property.  This means all extensions will have a `.base` property as a reference to the MediumEditor instance.

Further, this means we can also stop passing the MediumEditor instance as a parameter to call to `.init()` on the extensions.

These updates will all happen in v5.0.0

[2015-05-17 16:36] websirnik commented on #564
I need this, but without jquery.

[2015-05-17 16:50] nmielnik commented on #2
This has been around for a while now :smile:

[2015-05-17 16:50] #2 closed

[2015-05-17 16:58] nmielnik commented on #17
@bergie we now have a 'contentEditable' event that fires when the content has changed, this is supported in all our browsers as well.

You can subscribe to this custom event via the `subscribe()` method:
[code]

@beshur we have optional `onShowToolbar` and `onHideToolbar` callbacks that can be passed in as options when instantiating the editor.  These will be called each time the toolbar is shown

[2015-05-17 16:58] #17 closed

[2015-05-17 17:22] nmielnik commented on #210
The suggestion @yacomink added here seems to be a sufficient work around for the issue.

As long as we're relying on contenteditable, we'll be relying on the browser to decide whether text is bold or not and to do what it needs to do to bold or unbold it.  When there's CSS on the page that changes the weight of fonts, there will likely be so issues with bolding/unbolding via medium-editor.

You ca

[2015-05-17 17:22] #210 closed

[2015-05-17 17:27] nmielnik commented on #326
My feeling is these sort of things (which extend beyond the container of text that is being edited) should be controlled by the page, as we want medium-editor to be a way to edit text inline and not quite a way to style your page.

[2015-05-17 17:27] #326 closed

[2015-05-17 17:28] #353 closed

[2015-05-17 17:30] nmielnik commented on #493
This now exists (as of #597 and v 4.8.0) via the `contentEditable` custom event.

[2015-05-17 17:30] #493 closed

[2015-05-17 17:33] nmielnik commented on #608
Let us know if the workaround, or the image-dragging extension aren't sufficient for overriding this behavior.

Thanks for pointing this out!

[2015-05-17 17:33] #608 closed

[2015-05-17 17:48] Jiert commented on #608
Awesome, thanks so much! I'll play around with this tomorrow and let you know. Cheers!

[2015-05-17 21:12] daviferreira commented on #2
![https://braws.slack.com/emoji/pogchamp/3b3e75ad154e6384.png](https://braws.slack.com/emoji/pogchamp/3b3e75ad154e6384.png)

[2015-05-18 10:04] bbnnt commented on #210
@nmielnik yes I'll sure remove it as this problem was based on this specific need

I can understand google or typekit can fool people and make them think that switching from a regular font to a bold one can be as easy as specifying "font-weight: bold" in a css rule, but it is far from being standard

"When there's CSS on the page that changes the weight of fonts" : is contenteditable changing the

[2015-05-18 10:36] #562 closed

[2015-05-18 13:00] nmielnik commented on #210
medium-editor uses the built in `document.exexCommand()` to make text bold/unbold, and `document.queryCommandState()` to ask the browser if the current selection is bold or not.

For Chrome, Firefox, and Safari, this means wrapping the selection in `<b>` tags, and in IE this means wrapping the selection in `<strong>` tags, in the general case.  There are situations where it might add/remove a font

[2015-05-19 17:00] #561 closed

[2015-05-19 17:06] Veejay opened #617 "Headers in bulleted lists"
Hi,

I am not sure I can wrap my head around the following behaviour:

1) Type some text
2) Select text and create an unordered list out of it
3) Select text and click on H1

Now if I click on H1 *twice* at this point, I expect the `h1` tag to be toggled on and off (like it does when you select a word for example). This is not actually the case, the size of the text keeps on growing and I'm left w

[2015-05-20 09:56] Veejay commented on #617
I pinned down the issue to the fact that with a document containing

[code]

Calling `doc.execCommand('formatBlock', false, 'p')` (as is done in function `execFormatBlock` in the case I described) yields the following document:

[code]

This seems to be in contradiction with https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand which indicates that `formatBlock`

*Adds an HTML bloc

[2015-05-20 13:38] #558 closed

[2015-05-20 14:12] j0k3r commented on #534
Does the option `hidePlaceholderOnClik` (set by default to `true`) is ok to every one?

And when the placeholder will be an extension, the option will become `hideOnClik`.

[2015-05-20 15:50] nmielnik commented on #534
Yeah, that sounds ok.  Maybe we should just try to make this an extension first?

[2015-05-20 16:17] j0k3r commented on #534
Yeah, good idea :+1:

[2015-05-20 16:23] Jiert commented on #608
Thanks again @nmielnik, the `editor.subscribe` was exactly what I was looking for.

[2015-05-20 16:29] nmielnik commented on #608
No problem, seems like we may want to add some documentation about these custom events huh :smiling_imp:

[2015-05-21 01:34] mpolichette commented on #182
I am having this issue also. (Chrome  42)

It is really frustrating because you get drastically different output from the same looking text.

My guess is that the unformatting functions are breaking this by splitting line breaks with <br> instead of placing each line in <p> tags as happens initially.

[2015-05-21 07:20] dlt- opened #623 "Paste does not work (Android)"
Copying text to clipboard works but paste to contenteditable element does not. It just returns empty string.

Samsung S5 with Android 5.0 and 4.4 - With built-in "Internet" browser and Chrome for Android both suffer from the same issue.  This problem occcurs on the demo site too.

[2015-05-21 07:22] j0k3r commented on #623
I didn't have an Android but did you notice any error in the console ? I don't know if you can see the console..

[2015-05-21 07:45] dlt- commented on #623
Just verified with Chrome 41.0.2272.96 (newest android build), using Samsung Tab (4.4.2) - there are no errors in console after failed paste.

[2015-05-21 09:35] j0k3r commented on #272
It could also be on https://cdnjs.com/

[2015-05-21 09:41] daviferreira commented on #272
Our friend @IonicaBizau wrote a tool for it btw: https://github.com/IonicaBizau/cdnjs-importer :+1:

[2015-05-21 09:43] IonicaBizau commented on #272
Hey, I can help with that! :smile:

[2015-05-21 09:55] j0k3r commented on #42
@tkjaergaard I can't reproduce what you said about medium.com when I hit the return key 2 times, it does nothing like you say.

BTW there is now a `disableDoubleReturn` option that can disable mutliple empty lines.

[2015-05-21 09:57] j0k3r commented on #64
What could be improved on the demo page?

- a kind of menu to provide a demo for every options?
- some better use case?

[2015-05-21 10:02] j0k3r commented on #69
We can add a `H3` button like `H1` & `H2` but is that really interesting to add all possible headers?

[2015-05-21 10:03] daviferreira commented on #64
Yeah, something like a sidebar with every available option and the ability to toggle them on the fly. And also yeah, a menu with different pre-defined examples/use cases would be nice.

[2015-05-21 10:05] IonicaBizau commented on #272
I opened https://github.com/cdnjs/cdnjs/pull/4655. :four_leaf_clover: :sparkle:

[2015-05-21 10:08] daviferreira commented on #272
:beers:

[2015-05-21 10:09] j0k3r commented on #272
:+1:

[2015-05-21 10:09] IonicaBizau commented on #272
@daviferreira Hehe, I never drunk beer, nor :coffee:! Water and natural juices are the best for me. :palm_tree: :smile:

[2015-05-21 10:12] daviferreira commented on #272
![giphy](https://cloud.githubusercontent.com/assets/38787/7746451/ae917584-ffb2-11e4-9dc8-850030916041.gif)

[2015-05-21 10:15] daviferreira commented on #272
@IonicaBizau could you please update our README when they merge :innocent:

[2015-05-21 10:22] IonicaBizau commented on #272
@daviferreira BTW, I don't use the famous *f...* word. :smile: :smiley:

Yeah, sure. I will update the readme with the cdn info. :+1:

[2015-05-21 11:24] phiggins42 commented on #69
i vote get rid of `header1` and `header2` options, and provide a default of

[code]

allowing people to incllude as many or few heading buttons for different depths they choose. the two heading options are identicial minus a number.

[2015-05-22 04:37] IonicaBizau commented on #272
@daviferreira  I opened #626. :dizzy:

[2015-05-22 06:02] #272 closed

[2015-05-22 07:14] j0k3r commented on #272
Just a follow up for future versions, is this command is enough to upadte cdnjs?

[code]

Where `path/to/cdnjs` is a clone of the cdnjs repo, right?

[2015-05-22 07:19] IonicaBizau commented on #272
@j0k3r The new versions will be automatically updated on cdnjs when the package on npm will be updated (`npm publish`).

So, republishing on cdnjs doesn't make sense since the cdnjs-importer is smart and adds the autoupdate fields. :star2:

Yes, it's the local clone of cdnjs which defaults to `~/cdnjs`.

[2015-05-22 07:22] j0k3r commented on #272
Great then!

But how long does it takes to be updated on cdnjs when it's up on npm?

The 4.10.2 is up on npm since few hours (https://www.npmjs.com/package/medium-editor) but nothing new on cdnjs (https://cdnjs.com/libraries/medium-editor)

[2015-05-22 07:33] IonicaBizau commented on #272
@j0k3r It's supposed to be updated. The [cron job runs every 30 minutes](https://github.com/cdnjs/cdnjs/pull/4655#issuecomment-104232643).

/cc @PeterDaveHello

[2015-05-22 08:26] PeterDaveHello commented on #272
Looks ok:
![Imgur](http://i.imgur.com/ufKF5HY.png)

[2015-05-22 08:27] IonicaBizau commented on #272
@PeterDaveHello But the latest version on npm is `4.10.2` (the patch version is still `1` on cdnjs).

[2015-05-22 08:28] PeterDaveHello commented on #272
oh, sorry, let me check it.

[2015-05-22 08:31] PeterDaveHello commented on #272
I got your problem here, cronjob means the update from cdn repo to cdn and website, not from project repo to cdnjs repo, see :
https://github.com/cdnjs/cdnjs#enabling-gitrecommended-or-npm-auto-update
...

...

[2015-05-22 08:44] daviferreira commented on #272
Thank you for investigating, @PeterDaveHello

[2015-05-22 13:29] #534 closed

[2015-05-22 15:23] j0k3r commented on #140
Solution **B** is implemented with the button `removeFormat`.

[2015-05-22 15:32] j0k3r commented on #546
I'm curious, which paste options did you defined?

[2015-05-22 18:18] j0k3r commented on #623
It seems that `clipboard` isn't available for Android :confused: http://caniuse.com/#feat=clipboard

[2015-05-22 18:22] dlt- commented on #623
Contenteditable shoud have native paste capability. Is this somehow related? https://github.com/fraywing/textAngular/issues/570

[2015-05-22 20:48] j0k3r commented on #623
Hum maybe..

[2015-05-25 09:45] dlt- commented on #623
handlePaste event handler contains following check before preventDefault() is called:

[code]

By adding the following checks my Android Chrome pastes text correctly:
[code]

So, what do you think?

[2015-05-25 09:58] j0k3r commented on #623
Well, test fails with your change

[code]

[2015-05-25 16:46] pedrosanta commented on #232
Hi there, +1 here with this annoyance.

From what I can see this is dependent of deep changes in the editor - that's a bummer.

Anyways, I've managed to have a similar awkward behaviour that turns a:

    <h3>Nice Header</h3>

Into:

    <h3>Nice&nbsp;<span style="color: inherit; font-family: inherit; line-height: 1.1; font-size: 14px;">Header</span><h3>

With nasty visible bug, the text in the sp

[2015-05-26 05:05] nmielnik opened #634 "Elements array lost after destroying"
As per @kevincampanella (https://github.com/daviferreira/medium-editor/commit/398743094c370992f87d23842379c1fd3c0eb100#commitcomment-11354089):

This is definitely an issue, I have a fix ready

[2015-05-26 07:19] #634 closed

[2015-05-26 11:33] antoniobrandao commented on #232
@pedrosanta In which browser did you see that behaviour? Did you find any difference in other browsers?

[2015-05-26 12:54] nmielnik commented on #623
@dlt- would you be able to open a PR with code that you have that fixes your issue?  Let us know if you need any help with that.

[2015-05-26 13:56] Veejay opened #637 "Support for CSS on different commands"
Hi,

I'd like to know if it's possible to handle say `justifyCenter` or `justifyRight` using CSS classes instead of inline style attributes?

Right now, a click on justify right generates a

    style="text-align: right"

attribute on the element, I'd rather it generated something like

    class="text-align-right"

which I could always customize at a later time. Is such a feature supported in med

[2015-05-26 14:11] pedrosanta commented on #232
@antoniobrandao It was on Chrome 42. On Firefox works fine though. When we hit the backspace (5) it merges the two lines on a heading without the inline styled span. Also relevant, I'm using angular-medium-editor (https://github.com/thijsw/angular-medium-editor). I'll try to put in place vanilla medium editor when I can, and sort out if still happens.

[2015-05-26 16:04] Veejay commented on #637
@daviferreira I might be able to solve my issue with this if you know how to directly modify a selection's classList (through some `el.classList.add('something')` for example) without breaking undo.

Right now, since modifying the element's classList is not done through a command, hitting undo simple doesn't work. I don't know the undo/redo innards well enough to know if there's a way to do work o

[2015-05-26 16:36] phiggins42 commented on #637
you could in theory select the node, and insertHTML back in a class-less/full version to tie into undo stack, but i think it'd made 2 hits.  I am working on an undo extension providing transactional commits to allow such synchronous dom changes to happen outside of a generated/maintained undo stack, but it is far from complete just yet.

[2015-05-26 16:55] Veejay commented on #637
@phiggins42 Yup, gave that a try, it doesn't remove the class. Thanks for the suggestion anyway, much appreciated.

[2015-05-26 19:43] dlt- commented on #623
not sure if this is correct way to fix it. I do not know if all other browsers return clipboardData.types object.
Someone with better knowledge on this paste handle should comment on this one...

[2015-05-26 20:12] nodrog opened #639 "Spellcheck stays on after destroy called on editor"
The red underlining stays on after destroy is called on the editor.

Is this something that needs to be fixed in the editor or in the browser.

I am happy to try and fix it if anyone else is experiencing the same issues.

Many thanks

[2015-05-26 20:26] nodrog commented on #639
Seems silly to me but after some goggling you need to reset the innerHTML on the elements
Placing:

    element.innerHTML = element.innerHTML

inside the the elements each of the  destroy method dose the trick.

I am not sure what the overhead of this is?

I have tried other suggestions suck as focusing and then bluring the element, but not work.

[2015-05-27 09:27] be-next-hotdog opened #640 "How could display the toolbar from the beginning ?"
Question as title ? Is there a way to display the toolbar all the time ? thx.

[2015-05-27 20:52] oznek opened #642 "Pasting with cleanPastedHTML: true removes divs from all text"
When pasting a text from an article, medium editor is removing all embeded images added with medium-editor-insert-plugin, which are figures surrounded by divs.

__el.querySelectorAll('a,p,div,br')__ pass all text (and not only pasted text) to __filterCommonBlocks__, which removes the div. Is this the expected behavior?

Medium editor should not consider all text around the pasted code as already v

[2015-05-27 21:01] nmielnik commented on #639
Hey @nodrog thanks for finding this and opening an issue.  If you're able to validate that this fixes the issue you should definitely open a pull request.  That's a pretty interesting fix.

[2015-05-27 21:03] nmielnik commented on #640
I believe this is the same issue as #498 , is that correct?

[2015-05-27 21:06] nmielnik commented on #642
Would you mind giving a bit more context/examples about this issue?  What HTML are you trying to paste and what is the resulting HTML?  Apologies, but I'm having trouble understanding what you were seeing.

[2015-05-27 21:20] #576 closed

[2015-05-28 05:32] HuarenYu opened #644 "Firefox pasteHTML not work"
I found pasteHTML method not work in firefox 36.0.1 for mac.

[2015-05-28 07:27] j0k3r commented on #644
I got the same problem. After a quick checkup, I found that the way to retrieve the HTML content from the clipboard in JS on Firefox only return the plain text.

When you say that `pasteHTML` doesn't work, did you mean:
- you got nothing pasted in your editor?
- you got the plain text instead of HTML?

[2015-05-28 07:39] j0k3r commented on #639
@nodrog you mean, you tried this solution http://stackoverflow.com/a/9325528/569101 ?

[2015-05-28 12:50] phiggins42 commented on #644
I encountered a bug in firefox where paste magically wasn't coming through, but mine was limited to `<input type='text>`, when carat in there. paste is registered, and triggers handlePaste, but util.inserthtml -> document.execCommand("insertHTML", false, pastebody) resulted in nothing being pasted through. I have a thing in place where before handlePaste is called we check with extensions to see i

[2015-05-28 13:58] j0k3r commented on #574
If you still have the problem, could you provide an example?
Are you using a `textarea` or a `div` when defined MediumEditor?

[2015-05-28 15:08] be-next-hotdog commented on #640
yepp, that's it, thx a lot.

[2015-05-28 15:08] #640 closed

[2015-05-28 15:12] be-next-hotdog opened #649 "Possibility of overwriting the anchor preview pop up ?"
As question, i wonder how may i overwrite the anchor preview pop up, sort of adding a delete button ahead of the link address ? Any rewritten cases ? appreciate your tips @=@

[2015-05-28 15:35] phiggins42 commented on #649
you would set `{ anchorPreview: false }` in the options, and provide an extension that provides the same behavior as the core anchor preview. You _should_ be able to utilize the original if you are only wanting to shim in a few methods

[code]

might not even be as verbose as:

[code]

I have a similar thing in place to add an explicit edit label/icon + make preview link clickable to a new tab

[2015-05-28 15:53] michaelord opened #650 "No Buttons, still outputs a Toolbar Arrow"
I'm passing in a blank array of buttons to the editor on init, only planning on utilizing the enter key press, and placeholder, however, when selecting text it still tried to show the toolbar (without 0 buttons).

I think there just needs to be a check for the number of buttons defined upon selecting text before choosing to show the toolbar

Cheers

[2015-05-28 15:55] phiggins42 commented on #650
makes sense. you could also disable the toolbar, no?

[2015-05-28 15:59] michaelord commented on #650
yes, I'd completely overlooked that option though.. :(
Cheers

[2015-05-28 16:02] be-next-hotdog commented on #649
Cool, but as i still new in medium editor, i did not get how those lines worked ?

var MyAnchorPreview = MediumEditor.extensions.anchorPreview.extend({
     /* stuff */
});

[2015-05-28 22:53] evazzadeh commented on #126
Please set a shortcut key for alignment

[2015-05-28 23:53] ambiguousFoo commented on #523
Jacotheron - thank you for posting!  This is exactly what I was looking for - an easy integration with medium-editor and spectrum.  I updated the CSS for the color picker to more closely resemble the default medium-editor theme, and added a small snippet to insert the colorpicker into the medium-editor dom node so that the medium-editor does not close when selecting a color.  Looks great thanks ag

[2015-05-29 05:42] be-next-hotdog commented on #649
Sorry, im still new in medium editor and didnt get how it works the <MediumEditor.extensions.anchorPreview.extend> , could you give a explicit example while you implement your personal features ? be grateful.

[2015-05-29 09:22] bravedick opened #652 "Placeholder 'false' doesn't work"
Docs:

but result is:

![screenshot 2015-05-29 12 21 36](https://cloud.githubusercontent.com/assets/988471/7879907/4dceccd2-05fd-11e5-88bf-3952cd29c10c.png)

[2015-05-29 10:43] nodrog commented on #639
@j0k3r yes tried that and had no success on chrome Version 43.0.2357.81 (64-bit)

[2015-05-29 11:48] nmielnik commented on #652
@bravedick can you confirm what version of medium-editor you're using?  I believe this syntax for the placeholder option would have been introduced in version 4.11.0

[2015-05-29 12:00] nmielnik commented on #649
@be-next-hotdog I don't have any pre-existing examples, but you can find the definition of the `anchorPreview` extension object in [src/js/extensions/anchor-preview.js](https://github.com/daviferreira/medium-editor/blob/master/src/js/extensions/anchor-preview.js).

By calling `MediumEditor.extensions.anchorPreview.extend()` you can override any of the methods defined in the `anchorPreview` object

[2015-05-29 12:02] nmielnik commented on #650
This is a good workaround, but it does seems like passing an empty array of buttons should infer disabled toolbar...anyone disagree?

[2015-05-29 12:10] nmielnik commented on #639
Looks like this was fixed in #643

[2015-05-29 12:10] #639 closed

[2015-05-29 12:18] daviferreira commented on #652
Are you sure you are not passing false as a string? Should be: `placeholder: false`, not `placeholder: 'false'`

[2015-05-29 12:51] AndyOGo commented on #574
I updated to the newest medium version 4.10.2
I'm using textarea

[2015-05-29 12:53] phiggins42 commented on #650
i don't disagree ... though unsupported I am doing dynamic button showing/hiding (by way of `positionToolbar` event) ... though those buttons are _in_ the toolbar (the initial buttons list is a superset of all available, to ensure instantiation). would just want to make sure that wasn't accidentally changed.

though disabling the toolbar supercedes any `buttons` passed, so really you have to expli

[2015-05-29 12:59] phiggins42 commented on #649
I saw comments come in via email, but there were never actually here ... so not sure if real followup question, or what ... here is my sample:

[code]

the `template()` in there is just a handlebars compiled template:

[code]

[2015-05-29 13:09] nmielnik commented on #650
You bring up some good points.  I think the case where you dynamically and/remove buttons is a pretty good reason to not automatically disable the toolbar. It seems like working around that, and also trying to keep the disabled state of the toolbar up-to-date would make things needlessly complicated.

Closing this for now.

[2015-05-29 13:09] #650 closed

[2015-05-29 13:30] j0k3r commented on #574
And did you still have the problem with the latest version (which is [4.11.1](https://github.com/daviferreira/medium-editor/releases/tag/4.11.1))?

[2015-05-29 13:43] AndyOGo commented on #574
Sorry, nope.
On .destroy call the class is correctly removed from the textarea

[2015-05-29 13:43] #574 closed

[2015-05-29 13:46] j0k3r commented on #574
:+1: Excellent, thanks for the feedback!

[2015-05-29 14:00] AndyOGo commented on #574
Your welcome, thank you too!

[2015-05-29 21:23] j0k3r commented on #126
@evazzadeh which one should we use ?

[2015-05-29 21:54] j0k3r commented on #508
Should we really need to handle link across paragraphs ?

[2015-05-29 22:04] j0k3r commented on #207
@sahandsepanta Could this be what is defined in #248 ?

[2015-05-30 00:51] evazzadeh commented on #126
Common editor like mce use below shortcut key for alignments
* Align Right = Alt + Shift + r
* Align Left = Alt + Shift + l
* Align Center = Alt + Shift + c
* Justify = Alt + Shift + j

Also for other function like set heading, create a list, insert a quote or link , ... can set shortcut for better usability.

and another note for remove alignment style on 2nd click on button. For example after se

[2015-05-30 06:56] j0k3r commented on #126
For the moment, shortcuts are only available with one letter. I mean <kbd>CTRL</kbd>+<kbd>B</kbd> for bold. I see that Medium use the <kbd>CTRL</kbd>+<kbd>E</kbd> to align center.

We can think about adding complex shortcuts in the future to handle alignement.

[2015-05-30 07:10] evazzadeh commented on #126
@j0k3r One letter shortcut reserved for browsers, for example Ctrl+R for redirect or Ctrl+E in chrome and IE inserts a question mark at the start of the address and in Firefox set focus to search box.

I suggest that using 2nd click on the same alignment item for removing style of it like a bold style or heading

[2015-05-30 07:38] bravedick commented on #652
@daviferreira sure.

@nmielnik ops, yes, i was using 4.10.1 from CDN from docs. Sorry!

<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/4.10.1/medium-editor.min.js"</script>

[2015-05-30 07:38] #652 closed

[2015-06-01 04:28] HuarenYu commented on #644
I use uploadify upload image to server, then use `pasteHtml('<img src="...">')` to medium editor, But it not  work.

[2015-06-01 07:06] j0k3r commented on #644
Could you provide a jsfiddle with an example of what "not work" ?
I've tried with that one http://jsfiddle.net/jhvzzp1c/2/ and it seems to paste the img correctly.

[2015-06-01 07:31] dandv opened #657 "Paste image from clipboard"
Is this possible? I didn't see a feature list in the README. #260 suggests it might be possible.

I'm building a [comparison table of WYSIWYG editors](https://github.com/iDoRecall/media/blob/master/Comparison-of-JavaScript-WYSIWYG-editors.md) and looking for this feature.

[2015-06-01 09:48] HuarenYu commented on #644
http://jsfiddle.net/yuhuaren/1Lxssgjz/4/

[2015-06-01 09:59] j0k3r commented on #644
It works for me on Firefox _but_ you need to focus on the editor first. Otherwise, we don't know where to paste HTML.
This behavior is exactly the same on Chrome.

What behavior are you expected ?

[2015-06-01 10:06] HuarenYu commented on #644
I expect i can get the content editable cursor position before file input change. I want to insert the selected image to that position.

[2015-06-01 11:29] astoilkov opened #659 "Support for auto creation of list bullets"
Is there any plan or easy way to support auto insertion of list bullets when hitting Enter? In the cases when there are bullet on the current line.

The official Medium editor supports this feature.

[2015-06-01 11:46] daviferreira commented on #659
It should work like that already. Not working for you? Can you provide a fiddle?

[2015-06-01 11:53] phiggins42 commented on #644
editor.saveSelection() during keydown on the input should give you the carat position before it focues the input node, then when upload complete/whatever editor.restoreSelection, then pasteHTML() should work?

[2015-06-01 11:54] astoilkov commented on #659
I just tried to create a JSFiddle example [here](http://jsfiddle.net/8huy00xq/) but without success. You could use the HTML below which for me runs successfully when running it locally.

I am typing:

* 1 (upon hitting enter key the next bullet is not created and instead blank line appears)

[code]

[2015-06-01 12:02] j0k3r commented on #659
Well, I don't think it work atm.

What @astoilkov mean is auto-creation of:

 - an _orderlist_ when you type "1. uziaouzao <kbd>ENTER</kbd>"
 - an _unorderlist_ when you type "*. uziaouzao <kbd>ENTER</kbd>"

[2015-06-01 12:05] astoilkov commented on #659
Yes. Exactly. If it doesn't work do you plan to implement it? If not can you give suggestions how I can implement it myself. General guidance will be really helpful.

[2015-06-01 12:06] daviferreira commented on #659
More like markdown support for lists only then?

[2015-06-01 12:09] astoilkov commented on #659
The Medium editor supports it. I believe it is useful for this editor to implement it. It makes it more easy to work with lists.

[2015-06-01 12:17] j0k3r commented on #659
@daviferreira kind of, with a live preview.

@astoilkov You can do that using an extension.
For example, we have an auto-link extension. You can find inspiration inside this one.

My quick list:
 - check if the extension `orderlist` or `unorderlist` is enabled (using getExtensionByName) if not, do nothing
 - subscribe to `editableKeypress`
 - check that the current paragraph just contains `1. ` or

[2015-06-01 12:32] j0k3r commented on #272
:arrow_right: https://github.com/jsdelivr/jsdelivr/pull/5064

[2015-06-01 13:01] effectworks opened #661 "placeholder alignment"
Is there a way to position the placeholders? Currently the placeholders are aligned to top and left without any padding. Attached image below for reference.
![screen shot 2015-06-01 at 6 32 53 pm](https://cloud.githubusercontent.com/assets/8318752/7913343/c0046a82-088c-11e5-88b0-1f992d3c8381.png)

[2015-06-01 13:22] j0k3r commented on #661
You can add your own CSS to adjust it

[code]

[2015-06-01 16:58] phiggins42 commented on #659
I have an extension which monitors text for a subset of markdown ... eg:

[code]

will inject options.firstHeading tag, and

[code]

will convert to UL.

and stuff like typing

[code]

will italic the word `quick` at the point of space being hit.

inline bold and italic all work ... good thought about making it detect available buttons/commands, I am kind of just allowing the markdown through. Tho

[2015-06-01 17:02] astoilkov commented on #659
That sounds cool. Are you willing to share the code?

[2015-06-01 17:12] phiggins42 commented on #659
i would be happy to, but at this very moment the keyhandling and markdown aspects of monitoring are too tightly coupled with other unrelated functionality. I am planning on breaking these features apart and releasing them as standalone extensions, but don't have an ETA. It also has a jquery dependency I'd like to break out (just using it for ease of shorthand dom manip, nothing that can't be done

[2015-06-02 08:40] effectworks commented on #661
Thank you, appreciate it.

[2015-06-02 08:40] #661 closed

[2015-06-02 11:46] IonicaBizau opened #666 "Create list inside of list"
Creating lists inside of other lists work fine, but the HTML is wrong:

Instead of having:

[code]

The correct option is to have `<li>` element containing the nested `<ul>`:

[code]

Here are the [W3 specifications](http://www.w3.org/wiki/HTML_lists#Nesting_lists).

However:

This is important in [`medium-editor-markdown`](https://github.com/IonicaBizau/medium-editor-markdown/) extension since `t

[2015-06-02 13:40] j0k3r commented on #657
It's not possible at the moment.

[2015-06-02 19:27] mphasize commented on #666
:+1:

[2015-06-03 22:43] kardazs opened #667 "Editor functionality lost when using FileSaver.js"
Hi,

I have a weird issue maybe more browser related than script.

I am using the ME in a page to edit a few table cell (TD) content which is wrapped inside a DIV. Works everything fine.

Then I have a button which triggering the FileSaver.JS SaveAs() function. With JQuery I reading the DIV content and saving it.

Now when the Open or Save dialog pops up (the generic popup) I can save the file and

[2015-06-04 07:16] j0k3r commented on #667
It seems hard to me to know where the problem can be in MediumEditor.
If it's not too complicated, could you provide a jsfiddle that reproduce the bug?

[2015-06-04 12:49] be-next-hotdog commented on #649
Ohh, sorry, guys, I found the ways to make my extensions work just few seconds earlier before your responses and I deleted my question. But thanks all the same !!

Btw, I could extend anchor either by .extend() but I d better shift my anchor config elements to the same object in .extend( { MyNewAnchor obj } ).

[2015-06-04 12:49] #649 closed

[2015-06-04 12:55] be-next-hotdog opened #668 "Simple way to inactivate the list button while selecting Head Title ?"
I m just seeking for simplest way to inactivate list button when I select specific kind of text (ex : header / quote ... ) ?

[2015-06-04 12:56] j0k3r commented on #668
Is it to avoid this #617 ?

[2015-06-05 04:59] nchase opened #672 "see if we can simplify and reduce base styles"
I'm pretty sure we can make the styling a bit simpler and more flexible without changing existing structure.

Goal: make the styling simpler and more flexible without changing the structure. There should be fewer lines of CSS/SCSS as a result of this pull request and everything should look and work the same.

[2015-06-05 06:02] daviferreira commented on #672
:dancers:

[2015-06-05 08:03] be-next-hotdog commented on #668
I read the code but I dont think that would be the same as #617, I wonder how to disable the unordered list / ordered liste button while editing the "headers" but enable for the others ?

[2015-06-05 09:23] be-next-hotdog opened #673 "Question : could we always stick the toolbar on the top of a DIV (or the other tags) ?"
I reopened this subject cos I wonder to know this option/possibility for now and I observed that we were not able to extend the toolbar features naturally. Wish someone to render me all your tips about this topic, and of course I'd like to contribute to the toolbar extension.

[2015-06-05 09:51] be-next-hotdog commented on #673
Related to #664

[2015-06-05 15:48] nmielnik commented on #668
When you say disable, you mean make the button be unclickable correct?  It seems like you'll need to do some overriding to some of the buttons to make this work.  I know @phiggins42 has done something very similar to this, so he might be able to to shed some light on ways to approach this.

Off the top of my head, I would suggest overriding the `orderedlist` and `unorderedlist` buttons and impleme

[2015-06-05 15:53] nmielnik commented on #673
So you could potentially start messing around with the toolbar extension, which you can override and customize however you want.

If you go off of the `v5` branch, the toolbar is current extendable, so you can can do `MediumEditor.extensions.toolbar.extend({})` and override whatever methods you want.

If you were supporting appending the toolbar to a specific element, and not to the `<body>`, you'

[2015-06-05 20:37] daviferreira commented on #125
https://jsfiddle.net/q2ny7mzf/4/

[2015-06-06 12:44] phiggins42 commented on #668
Entirely working-but-way-horrible `blacklist` extensions:

[code]

sadly it uses jquery and underscore in very limited ways. it would be trivial to break those deps away and just rewrite the few sections using them. this also only handles heading elements, and has a weird looking thing called 'tokens' in there. Tokens are "blocks" (div-wrapped special containers) in my world, and this allows each

[2015-06-08 06:15] IonicaBizau commented on #666
@daviferreira Any feedback on this?

[2015-06-08 15:35] be-next-hotdog commented on #673
I tried, directly, to run showToolbar() and positionToolbarIfShown(), it did displayed on the left top but still wait for selection focus to position/stick to the aim div ? In fact, all I need is merely to create the toolbar and stick it on the top of aim container from page load, in additional, it should be visible all the time.

btw, when you expect to release v5 ?

[2015-06-08 15:39] be-next-hotdog commented on #668
yepp, your tips did left me a clear track. Thx, I'll get rid of the "$" & "_" dependancies on my own.

[2015-06-08 15:39] #668 closed

[2015-06-08 16:01] nmielnik commented on #673
We have an alpha release of 5.0.0 available now:

https://github.com/yabwe/medium-editor/releases/tag/5.0.0-alpha.0
https://www.npmjs.com/package/medium-editor

[2015-06-09 05:37] sangsteroni commented on #508
@j0k3r It becomes a valid use case when you think not of entire paragraphs but something as simple as someone typing this on its own line:
Click here to view the full article.

Hope this helps.

[2015-06-09 08:43] j0k3r commented on #508
@sangsteroni I get it, thanks !

[2015-06-09 10:46] steoo commented on #595
@daviferreira I found out that the reason why the `divs` are created is that, to "*replicate*" ( I guess .. ) the `p`'s the browser creates a `<br/>` between the texts .

`<h1 style="text-align: center;">Phasellus viverra nulla ut metus <br> Phasellus viverra nulla ut metus</h1>`

This gets weirdly translated in two `div`s.

I'm working on a branch feature, I'll make a pull request, if it works :)

[2015-06-09 10:56] j0k3r commented on #666
@IonicaBizau We are focusing on the v5 release at the moment. We are cleaning stuff, removing all deprecated things, etc .. Since it's a major release, we are _allowed_ to break things so we need to be really focus.

After the v5 release, we plan to focus on closing issues and fixing bugs. Since we are keeping a branch for the v4.12.x, fixed issues & bugs will be included in both v4 & v5 (we'll do

[2015-06-09 10:59] IonicaBizau commented on #666
@j0k3r I guess the problem is [here](https://github.com/yabwe/medium-editor/blob/b3724e540f4bb8d4a55b4a55632b007a702b6ad1/src/js/defaults/buttons.js#L112). The lists are created using `<ul>` even inside of list items. I'm not sure how this could be solved quickly.

[2015-06-09 11:01] j0k3r commented on #666
I think we need to detect that we are already inside a list before creating a new one, and wrap the new list inside a `<li>`.

[2015-06-09 11:02] daviferreira commented on #666
![zlhzdnhrw0dxq](https://cloud.githubusercontent.com/assets/38787/8056376/c760f6da-0ea7-11e5-82ce-dbb15744199f.gif)

[2015-06-09 11:04] IonicaBizau commented on #666
@daviferreira Hahaha, I waited for that. The coincidence is even cooler since the [related issue is number `6`](https://github.com/IonicaBizau/medium-editor-markdown/issues/6). :smile: In this case, the number is not something special.

@j0k3r Yep, exactly! What's the best way to do that?

[2015-06-09 11:45] j0k3r commented on #666
@IonicaBizau well I'll take a look around `execAction` which will launch `execCommand` to create the list. There is already a [cleanup related to list creation](https://github.com/yabwe/medium-editor/blob/9ecee3656fe678d3587d7d74f36fe3ec76f1694e/src/js/core.js#L816-L819). But it happens **after** the creation. Maybe we need one before the creation or maybe we can handle that after.

[2015-06-09 14:36] be-next-hotdog commented on #673
I forked v5 alpha, it seems as if you changed the stickybar behaviors. Now the toolbar sticks merely on the top of chosen Div and will disappear while scrolling down. Nevertheless it woundn't disappear but stick to the top of navigator window until the chosen Div entirely crossed over.

Could you give an example @override that makes toolbar remain displaying from the start ? Thx.

[2015-06-09 15:05] nmielnik commented on #673
What options are you passing to medium-editor to get the sticky toolbar behavior?

The way to pass options related to the toolbar has changed in v5.0.0.

**Before v5.0.0**
[code]

**v5.0.0+**
[code]

Make sure you're passing the options in the latter example, where `static` and `sticky` are options inside the `toolbar` sub-option.

[2015-06-09 15:40] be-next-hotdog commented on #673
No, you misunderstood totally my questions. I need just an example to override toolbar behaviors by extensions.extend(), which makes toolbar ***remain displaying from the start***. I couldn't position toolbar at all later.

[2015-06-09 15:48] nchase commented on #666
:joy_cat:

[2015-06-10 19:22] oznek commented on #642
Sorry for the delay.

medium-editor-insert-plugin inserts a div for images or embeds. Having this text in editor, for instance:

    <p>Paragraph</p>
    <div class="medium-insert-images"><figure>
        <img src="image.jpg" alt="">
    </figure></div>

When I paste an HTML code (e.g. a simple paragraph with a A link tag), the figure div disappears.

[2015-06-10 19:23] j0k3r commented on #642
Could you tell us which option do you enable for the paste extension?

[2015-06-10 20:33] j0k3r commented on #522
@marceloboeira could you test it again? I've tested on the 4.11.1 release and didn't get the error.
As far as I understand, you select all the content using <kbd>cmd</kbd>+<kbd>a</kbd> and then clear every thing with the return key (aka delete), right?

[2015-06-10 20:59] marceloboeira commented on #522
@j0k3r Yes, I'll test and let you know soon

[2015-06-10 21:42] oznek commented on #642
I'm using these configs:

      paste:{
        forcePlainText: false,
        cleanPastedHTML: true,
        cleanAttrs: ['class', 'style', 'dir'],
        cleanTags: ['br', 'meta', 'body', 'section', 'aside', 'article',
          'span', 'h1', 'h2', 'font']
      },

[2015-06-11 04:32] nmielnik commented on #673
So one quick and hacky way to make sure the toolbar stays visible is to add some custom css that does this:
[code]

If you want it to appear in a specific spot, you could override the current `init()` method:
[code]
If you look at the method, you can see the last line is where the toolbar gets appended to the `'elementsContainer'`, which is `document.body` by default.  You could change this code t

[2015-06-11 12:11] j0k3r commented on #623
It seems that we need a dedicated solution to handle paste on Android ...
:arrow_forward: https://github.com/tinymce/tinymce/blob/master/js/tinymce/plugins/paste/classes/Clipboard.js#L370-L380

As far as I understand, we won't be able to clean HTML pasted in Android, so guys from TinyMCE just let the browser handle it ... it could generates some serious side effect :confused:

[2015-06-11 23:03] kardazs commented on #667
Yes I will create a fiddle and provide the link during the day, thx for the response.

[2015-06-12 15:10] Fipo commented on #319
Unfortunately I have same issue like @antoniobrandao.
I wan't to use two editor instances - one for Title and one for general post.

[2015-06-12 15:32] be-next-hotdog commented on #673
Yep, thx a lot for details.

[2015-06-12 15:32] #673 closed

[2015-06-12 15:50] be-next-hotdog opened #684 "Inject the global dependancies in extensions"
Heyy, I m looking for suggestions while extending the components( ie. toolbar, anchor form and etc) via " MediumEditor.extensions.XXXX.extend() ".

In order to factorize the my extensions scripts, I did just in main script :

options = { XXXX : new MediumEditor.extensions.XXXX.extend(MyExtensions)}  before instantiation.

So I try to find a better way to inject the Util, Selection global classes i

[2015-06-12 16:26] nmielnik commented on #684
So there currently isn't a way to inject the dependency, but these utility functions are exposed via the MediumEditor object.

`MediumEditor.util // Same as global 'Util'`
`MediumEditor.selection // Same as global 'Selection'`

So you can access the helper methods that way.  Does that answer your question?

[2015-06-14 18:25] lorenkp opened #685 "Editor starts focused?"
Hey everyone—

(I have a question about using the library, and I'm really sorry if this is the wrong place to ask it. This is a great library, and thanks so much to everyone.)

I'm trying to have the editor de-collapse when clicking "Type your text", a la Medium. So far my solution is to use Bootstrap's collapse to reveal the editor when clicking a div with "Type your text." However, with this app

[2015-06-15 02:09] nmielnik commented on #685
So I'm not sure if I fully understand what you're attempting to do, but I'm guessing you want a programatic way of causing the editor to be focused (have cursor enabled)?

If that's the case, you should be able to use the `MediumEditor.selectElement(element)` method and pass any child element of the editor element:
[code]

What's good about `MediumEditor.selectElement()` is that if there's any pre

[2015-06-15 07:39] be-next-hotdog commented on #684
Of course, that does helps me a lot. Thx, Mr Athlon ; )

[2015-06-15 07:50] be-next-hotdog commented on #684
And I noticed that for the modules possessing their own constructor, I have to override their behaviours by prototype (ie. Button), extensions.button.extend() doesn't work in this case ? So I used currently :
MediumEditor.extensions.button.prototype.handleClick = function(e); Or still have a "cleaner" method ? Thx for your patiences.

[2015-06-15 14:44] nmielnik commented on #684
Could you be more specific about what you're attempting to do?  This is an example of using `.extend()` for a custom button:

[code]

[2015-06-16 13:36] be-next-hotdog commented on #684
But if I aim to change the default click behavior handleClick() for all or if I'd like to add more than a button ? What should I do then ?

[2015-06-16 13:49] nmielnik commented on #684
If you want to change the default behavior for all of the buttons you're enabling, overriding the button prototype is definitely an option, although it's a bit of a hacky one.

Another option (**which is now exposed in v5.0.0-alpha.0**) is overriding the `handleClick` method by passing additional options in the buttons array.

[code]

[2015-06-16 15:56] MartyIX opened #689 "HTML placeholder"
Hi,

can I use an HTML placeholder? I mean something like:

    "<p>Type your text here</p>"

I tried it and it did not work. I would just like to confirm that it is not possible.

Thank you

[2015-06-16 18:03] mywaiting commented on #543
This is really bad, that is some way to remove this <span font=''>

1. remove it by jQuery just like @phiggins42
2. catch input, Don't use document.execCommand, code like this:
[code]
This code from simditor, please search in github, keyword: simditor

code insigh: Handle selection by our code, then clean the no need html tag and insert into document!

[2015-06-16 18:05] mywaiting commented on #232
+1 please

[2015-06-17 03:23] epascarello commented on #689
The placeholder uses the [CSS content property](http://www.w3.org/TR/CSS21/generate.html#propdef-content) which supports plain text or an image using `url(path)`.

[2015-06-17 07:13] MartyIX commented on #689
Thank you

[2015-06-17 07:16] j0k3r commented on #689
What is the real HTML you would like to use a default placeholder?

[2015-06-17 07:25] MartyIX commented on #689
My use case is highly uncommon. I have <p> styled as list-items and I allow users to write their "checklist". I would like to add default value:

   <p>Please add your checklist</p>

However, I think I can work around the issue.

[2015-06-17 07:43] j0k3r commented on #689
You can hack it using CSS, using `.medium-editor-placeholder:after`

[2015-06-17 07:55] MartyIX commented on #689
I'll give it a try.

[2015-06-17 08:42] be-next-hotdog commented on #684
1. Used to code kinda above but it didn't work for me.
Don't worry, I'm always working on the basis of version 5-alpha and will find out my prob.

2. Searching the way to add a customized form binding to my customized button.
Found an instance : button => form extensions => anchor / anchor form, but still trapped for now, any tips ?

Thx,

[2015-06-17 15:31] nmielnik commented on #684
1. Let me know what didn't work for you, if it's something in our code I'd like to fix it before we cut the official v5.0.0

2. The `MediumEditor.extensions.form` is basically a class that defines the methods that need to exist for MediumEditor to support displaying a custom form in the toolbar.  The Anchor extension and the FontSize extension both extend the `MediumEditor.extensions.form` base cl

[2015-06-17 15:43] jesperbjerke opened #692 "Changelog for 5.0?"
Is there one?

[2015-06-17 15:44] j0k3r commented on #692
There'll be :wink:

[2015-06-17 15:46] nmielnik commented on #692
It'll come with the 5.0.0 release.

For now, we have an UPGRADE.md for upgrading to v5.0.0:
[https://github.com/yabwe/medium-editor/blob/v5/UPGRADE-5.md](https://github.com/yabwe/medium-editor/blob/v5/UPGRADE-5.md)

[2015-06-18 00:44] nmielnik commented on #692
[CHANGES.md](https://github.com/yabwe/medium-editor/blob/master/CHANGES.md) has been updated, some more additions may still be added between now and when we release, but this should be close.

[2015-06-18 00:44] #692 closed

[2015-06-18 12:24] l2aelba opened #694 "Possible to disable something in children ?"
Something like this..

[code]

Was wondering how can I do that ?

[2015-06-18 13:16] j0k3r commented on #694
Do you want to disable them using the toolbar? Or do you want them _by default_ when you create a new content, for example?

Because if you define a node with attribute `contenteditable="false"` you won't be able to edit them after. Maybe that's what you are looking for.

[2015-06-18 13:54] nmielnik commented on #694
Yeah, like @j0k3r said, using `<p contenteditable="false">One line only</p>` or `<a contenteditable="false"></a>` will make that piece of text uneditable.

Also, we don't currently support disabling the toolbar for specific elements within the editable element, we only allow disabling the toolbar for the outer editable `<div>` that contains everything...but this could be an interesting feature to

[2015-06-18 14:01] #657 closed

[2015-06-18 16:00] allan-farrell opened #695 "Duplicate element IDs"
I have a page with 12 textareas - when the editor replaces them with divs I'm seeing duplicate ids on those divs - this causes problems with editing as the wrong content gets synced to the wrong textarea.

The ids are generated with +new Date() in the source - could that be the problem? Or am I doing something wrong.

[2015-06-18 16:01] be-next-hotdog commented on #684
1. No, I tried testing, that wasn't a bug I think, just cause by ignoring to type the button name so that neither of existent / defined buttons wouldn't work with my extension.

2. Really feel little confounded when implementing a customized form binding to my button cuz I lost the medium editor context "this" which also means losing lots of utility methods, for instance, hideToolbarDefaultAction.

[2015-06-18 16:07] be-next-hotdog commented on #684
@nmielnik, have you an example in detail (a customized form linking to customized button's actions) ? Or just a "first taste" script who tested the new extensions features in ver 5.    (= . =)

[2015-06-18 16:10] nmielnik commented on #684
Our anchor extension is implemented in this way: `https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/anchor.js`

You could do the same thing, but instead of using `FormExtension.extend()` you would use `MediumEditor.extensions.form.extend()`

If you could create a jsfiddle and explain the problem you're having, it might be easier for me to help that way.

[2015-06-18 16:14] be-next-hotdog commented on #684
Forgive me, my fault, I made a mistake to type extensions.button but not extensions.form. Shame on me ... ...

[2015-06-18 16:16] nmielnik commented on #695
If you see multiple `<div contenteditable="true">` elements on the page who all have the exact same `id` attribute, then you're probably right, it might be using `+new Date()`.

If you can modify the code, you could try checking if an element with that id already exists, and if it does, instead making the unique ID be `id += 1` until you get a unique one.  If that fixes your issue, it would be a g

[2015-06-18 16:18] nmielnik commented on #684
No prob, let me know if you have any other questions.  If you end up with a working example, I would love to try to use all or part of it in the Wikis for example on creating custom form extensions!

[2015-06-18 19:09] nzifnab opened #696 "Toolbar options not working properly?"
I'm trying to do the following:

    editor = new MediumEditor('.editable', {
      toolbar: {
        buttons: ["bold", "italic", "underline", "h2"]
      }
    })

But this doesn't seem to be doing anything. The toolbar is still getting "bold", "italic", "underline", "anchor", "h1", "h2", and "quote" (Even though the defaults are supposed to be "h2", and "h3", not "h1", and "h2"?)

When I make t

[2015-06-18 21:02] j0k3r commented on #696
We might have mixed both documentation for v4 and v5 at some point.
The fact is the current documentation is for the v5 release (if you look in the master atm). If you take a look at the [README from the 4.12.x branch](https://github.com/yabwe/medium-editor/blob/4.12.x/README.md) you'll see the _documentation_ for the v4.

That's why your taking new thing from the v5 (nested buttons in toolbar) an

[2015-06-18 22:58] nzifnab commented on #696
Ohhhh. Thanks a lot for the clarification. Is it "safe" so-to-speak, for me to use the 5.x release candidate? Probably a good idea to be as up-to-date as possible since I'm only just now building a feature that will use this library.

[2015-06-19 05:43] j0k3r commented on #696
It's completely safe to use v5 since we [released it yesterday](https://yabwe.github.io/v5-is-out.html)! Also the document in the wiki is now clearly splitted for the v5 & v4.

[2015-06-19 05:43] #696 closed

[2015-06-19 08:12] l2aelba commented on #694
Im using `contenteditable="false"` too, but not so perfect like... toolbar will come sometimes

[2015-06-19 09:19] be-next-hotdog commented on #684
Of course, that would be a pleasure.

[2015-06-19 09:53] be-next-hotdog commented on #684
Need little dev tips again, if I wanna conserve the "form.init" in my form extensions,

1. how could I inject FormExtension (currently undefined in my form extension).
2. Could we add also "showToolbarDefaultActions" as a default behavior in FormExtension ? The main philosophy of Medium Editor is to react to "text selection". So how I might take "shortcut" method to hide my form & show toolbar, in

[2015-06-19 11:04] allan-farrell commented on #695
Right now I'm just doing

(+new Date()) + '-' + Math.floor((Math.random() * 100000000000) + 1)

as a workaround. You want a PR for that? :)

[2015-06-19 11:27] daviferreira commented on #695
Still can give us duplicates, I think we can just append the element index on the elements array?

[2015-06-19 12:45] nmielnik commented on #695
I was thinking, we already have a guaranteed unique id for the editor itself, so we should be able to use that combined with the index of the elements array (like what @daviferreira suggested).

So you could just do something like `id = 'medium-editor-textarea-' + this.id + '-' + this.elements.length`.

And yes @allan-farrell, we would live a PR for that, especially if it has a test or 2 to make s

[2015-06-19 12:51] nmielnik commented on #684
1. You can reference the FormExtension via `MediumEditor.extensions.form`, so if you need to call init from your init just call `MediumEditor.extensions.form.prototype.init.apply(this, arguments)`

2. If you think that this helper method would help you with your form extension creation, I would recommend you add it to the `form.js` code and open a PR so we can merge it in!  We already have a `hide

[2015-06-19 12:56] nmielnik commented on #694
Any interest in trying to add the feature yourself?  Since you have a use case for it, it seems like a good way to try to contribute and help us out!

[2015-06-19 16:04] allan-farrell commented on #695
Took a look at the source -  unique editor id is not available in createContentEditable() (which is where it's needed) - it's assigned later.

Could we just use 'medium-editor-div-' + element-index

We'll have to pass in the element-index - so we'd have  createContentEditable(textarea,index)

[2015-06-19 21:16] nmielnik commented on #695
Yeah, so since we're not using this unique identifier as an actual `id` attribute of the `<div>` and `<textarea>`, it seems like we can just use the index.

I would probably change the signature of `createContentEditable(textarea)` to be `createContentEditable(textarea, id)` since we are just using it as an `id` and don't care whether it's the actual index or not.

Also, we should get rid of this

[2015-06-19 21:20] nmielnik commented on #695
Actually, the more I think about it, the more I think we should probably still use the `Date.now()` to generate a timestamp, and then append `-` + `index/id` to the end of it.  We want to make sure the id is unique on the page, even if there are multiple instances of MediumEditor.

[2015-06-22 13:13] nmielnik commented on #69
This has been added in #677 and released in v5.0.0

[2015-06-22 13:13] #69 closed

[2015-06-22 14:19] be-next-hotdog commented on #684
I also altered little the button & toolbar modules in mostly adding conditions to verify/guarantee selection range. Cuz the medium editor's main philosophy is to be triggered / activated by text selection. Therefore, if we make deliberately toolbar display from the beginning and click the buttons, that generates errors sort of "cant find node/range blabla" ...

Will commit/PR later.

[2015-06-22 14:19] #684 closed

[2015-06-22 14:20] nmielnik commented on #684
Awesome, I look forward to seeing the PR!

[2015-06-22 15:56] be-next-hotdog opened #699 "May I implement a filter / parser in selection module ?"
Hi guys, come again with another question,
what should I do to extend the selection ? Directly dev within or with MediumEditor.selection ?
Needy for cleaning the illegal / special charactors in the selected text (i.e; slash, space etc)

[2015-06-22 23:53] johngoldenlane opened #702 ".destroy() question"
Hi,

the .destroy() call should remove all extra stuff the editor bind to the editable DOM element?
Because for me the
role="textbox"
aria-multiline="true"
medium-editor-index="0"

Stays inthe code (I tried on the demo page via console and there I had the same result).

Is it a feature ( because of course I can remove them manually) or some minor bug?

Thx.

John

[2015-06-23 07:06] j0k3r commented on #702
I guess it's a minor bug. On which browser did you tried? Have you tried on other browsers too?

[2015-06-23 07:43] be-next-hotdog commented on #699
sorry for the wrong topic...

[2015-06-23 12:48] nmielnik commented on #699
You can definitely add helper methods into `selection.js`, but we'll only want to add methods like this if they will be leveraged by the core MediumEditor functionality.  If it's something that is specific only to your code or your extension, it would be best to keep it there until it can be reused by other code.

[2015-06-23 13:02] nmielnik commented on #702
I don't believe our existing code adds `role="textbox"` or `aria-multiline="true"` onto the element.  Or code definitely does add the `medium-editor-index` and it not being removed during a call to `.destroy()` is a bug.  Do you have any of the browser info @j0k3r asked about?  Any interest in opening a PR to fix the issue?

[2015-06-23 15:35] be-next-hotdog commented on #699
I know how really annoying it is but I still wanna ask this annoying question : the cleanest way to extend selection ?
PS : XD, its time to document Medium editor ?

[2015-06-23 16:36] j0k3r commented on #699
You kidding? https://github.com/yabwe/medium-editor/wiki

[2015-06-23 22:56] johngoldenlane commented on #702
Hi all,

if I opening this site:
https://yabwe.github.io/medium-editor/

(it works with a simple blank setup too)

even in Chrome (43.0.23....) either in Firefox ( 38.0.5) / using dev tool to check /
The div with the editable class has these attributes:

contenteditable : true
spellcheck : true
data-medium-editor-element : true
role : textbox
aria-multiline : true
medium-editor-index : 0
data-plac

[2015-06-24 07:11] j0k3r commented on #702
Hum you're right, after `destroy`, I got on Chrome & IE9 on Win:

[code]

On Firefox Win:

[code]

[2015-06-24 07:13] #695 closed

[2015-06-24 10:04] be-next-hotdog commented on #699
Yes & No, did read the wiki page but I wish to comment what we dev directly in code, for instance the angular.

[2015-06-24 10:10] be-next-hotdog commented on #699
BTW, still not found how to trim the select text before turning that in bold or in italic ?

[2015-06-24 13:18] nmielnik commented on #130
Another way to support this functionality is to build event canceling into MediumEditor.

The anchor extension could trigger something like a `'createAnchor'` event, with some additional information about the link being created. Anyone listening for this event could inspect what link is about to be created, and then call `preventDefault()` on the event object if the validation fails.

Again, this

[2015-06-24 19:51] nzifnab commented on #702
I can confirm, mac Chrome behaves the same.  It doesn't seem to actually *effect* what the user sees, but it does cause some extra junk to be saved that's a little unnecessary

[2015-06-24 22:33] nmielnik commented on #149
@schnittchen apologies it's been so long, but we're trying to go back and cleanup some issues.

Are you able to help us determine if this issue still happens?

[2015-06-24 22:34] nmielnik commented on #689
@MartyIX were you able to work around this?

[2015-06-24 22:35] nmielnik commented on #685
Let us know if there are any other issues that should be addressed for this. Closing for now.

[2015-06-24 22:35] #685 closed

[2015-06-24 22:40] nmielnik commented on #523
It seems like there might be something we could do inside the editor to help support extensions like this. It's worth thinking about.

Worst case, we should consider adding this example in the documentation perhaps?

[2015-06-24 22:42] nmielnik commented on #519
This is done, everything (including the toolbar) is now an extension that you can `extend()`.  This is all now fully available in v5.0.0, and more details on extensions can be found in our [Wiki](https://github.com/yabwe/medium-editor/wiki)!

[2015-06-24 22:42] #519 closed

[2015-06-24 22:48] nmielnik commented on #310
If we did something for this, we'd have to add in something to manipulate the HTML, either via `insertHTML` or by cleaning up the HTML after the fact (converting `<b>` into `<strong>` or vice versa)

[2015-06-24 22:50] nmielnik commented on #209
I've seen this done in other editors like [Redactor](http://imperavi.com/redactor/) where click the <kbd>< ></kbd> button switches to editing the raw html.  We could potentially do something like that.

[2015-06-24 22:52] nmielnik commented on #659
If we can do this in a way that doesn't break native undo/redo, that would be awesome.  Even if it does break undo/redo, this would still be a great feature to have (potentially very similar to the auto-link extension)

[2015-06-24 22:54] nmielnik commented on #617
Seems like we'd have to do some html manipulation here to workaround what browsers are doing.

[2015-06-24 22:55] nmielnik commented on #575
This could be a good external extension or possibly even a built-in button,

[2015-06-24 22:56] nmielnik commented on #107
How much does this differ from #575 ?  Are these both referencing the same kind of functionality?

[2015-06-24 22:57] nmielnik commented on #87
This would go along with the general goal of handling html cleanup and standardizing on how we support nesting block elements.

[2015-06-24 22:59] nmielnik commented on #92
I think this is a really interesting idea, it could be useful to group together sets of options into 'modes', or just implement these modes as new functionality if there isn't a combination of existing options to accomplish this,

[2015-06-24 23:00] nmielnik commented on #480
This seems like a good candidate for a 'mode' as proposed in #92

[2015-06-25 07:00] MartyIX commented on #689
Hi, I used a CSS style rule for `.medium-editor-placeholder:after` and I'm satisfied with the result. Thanks

[2015-06-25 07:02] j0k3r commented on #149
And if it still happens, tell us on which version you are testing. Also, give some precision on which browsers your problem happens

[2015-06-25 07:13] #689 closed

[2015-06-25 12:51] #702 closed

[2015-06-25 13:22] schnittchen commented on #149
I won't find time soon. Feel free to ping me some time.

[2015-06-25 17:19] zazvorniki commented on #617
Just a fyi, this is not just happening when you have a list. If I keep clicking the h2 or h3 tags then I get millions of them in the code with blank content
![image](https://cloud.githubusercontent.com/assets/794488/8360759/ce1cf4c8-1b3c-11e5-8d93-998aff46fdcb.png)

[2015-06-25 17:54] nzifnab opened #704 ""Enter" - Can I change it's behavior?"
I did see #333

I may be a little late here but... in Word if you want a new line you just hit "enter"... If you need a new paragraph you hit "enter tab" or "enter enter" (depending what kind of paragraph you want). All Word understands is "new lines" when you hit enter.

The problem with using the `<p>` tag every time I hit enter in the editor is that the `<p>` tag is styled to have margin. This

[2015-06-25 19:07] csarven opened #705 "Is there a recommended way to add a (copy of a) button?"
I am currently observing different ways of adding a button to the toolbar. Is there a best-practice in place?

For instance, instead of using the built in default button for bold which outputs `<b>`, is it possible to use `<strong>`, meanwhile keeping everything else the same? The obvious process for some like this is to create a new extension, however, I find the process to replicate common handl

[2015-06-25 19:13] csarven commented on #705
There is an issue #310 related to the example above.

[2015-06-25 19:26] csarven commented on #209
This is a good enhancement/extension to have.

I would suggest that if there is "useless HTML code" being generated, it should instead be documented and cleaned-up at core instead of relying on HTML Edit Mode picking up the task.

[2015-06-26 13:30] be-next-hotdog commented on #699
No one knows ?

[2015-06-26 13:47] nmielnik commented on #595
Resolved by #675

[2015-06-26 13:47] #595 closed

[2015-06-26 13:56] nmielnik commented on #699
I'm am not aware of a simple way to trim text within html elements, since the beginning or ending spaces could be within text nodes at any level within the DOM. For example:

[code]

Depending on where your selection starts and begins, trimming this text could be a bit complicated.

What you could try to do is find the first text node within the selection, and iterate over all text nodes until you

[2015-06-26 15:34] nmielnik commented on #705
So the built-in buttons are built around using `document.exeCommand()`.  `document.execCommand('bold')` produces `<strong>` tags in IE, but `<b>` tags in Chrome, Safari, and Firefox. Thus, if you only wanted to make minor modifications to these buttons you would have to override at least `handleClick()`.  We have support for overriding parts of built-in buttons like this:

[code]

That would allow

[2015-06-26 15:37] nmielnik commented on #704
So one way we've worked around this issue for our application is to not fight the fact that contenteditable will always want to have things inside of a `<p>`.  For our app, we just always have the content wrapped in a `<p>` tag such that a new one won't automatically get added by the browsers.

So the starting state of our text (if it's empty) is to just have `<p><br /></p>` instead of an empty st

[2015-06-26 15:46] nmielnik commented on #590
Each element monitored by MediumEditor now has a `medium-editor-index` attribute on it.  This index corresponds to the index in the global `window._mediumEditors` Array that the MediumEditor instance lives.

So, give an element maintained by MediumEditor, you could do this:

[code]

I think this should take care of what you're asking for.  Perhaps a static helper method on the global MediumEditor

[2015-06-26 21:05] nmielnik commented on #501
@brazorf would you be able to clarify what you meant by allowing options for each link?  Are you suggesting changes to the anchor input form in the toolbar (where you type in the url), or are you talking about passing parameters to the `.createLink()` method on MediumEditor?

[2015-06-26 21:15] nmielnik commented on #259
To clarify this **DOES NOT** happen in Firefox & Chrome on Mac, this only happens in Windows (including Firefox & Chrome).  The root cause is when you double click a word in Windows it will select the word AND the space after it.

[2015-06-28 21:43] be-next-hotdog commented on #699
; )
Grateful for advices but I just wanna know where should I modify in order to trim selected text before "bold" it ? tried to modify little in core/toolbar but still doesnt work for me.

[2015-06-29 06:27] be-next-hotdog commented on #699
Hacked selection object for now, still await for a better solution.

[2015-06-29 12:32] mphasize commented on #666
I finally got around to begin a fix for this issue. Would be great if you could take a look at #710 and give me some feedback on the approach.

[2015-06-29 12:58] IonicaBizau commented on #666
@mphasize Thaaaanks! :+1:

[2015-06-29 13:41] shanetmoore commented on #232
+1

I just got hit too. Nasty little bug this one.

[2015-06-29 13:48] #699 closed

[2015-06-29 13:54] nmielnik commented on #666
@mphasize @IonicaBizau it appears that there was an incorrect assumption about how this html should be rendered (http://stackoverflow.com/questions/5899337/proper-way-to-make-html-nested-list)

It appears we want the nested `<ul>` to be a child of the existing `<li>` we want the nesting to occur after, NOT a child of a brand new stand-alone `<li>`:

[code]

If you generated HTML like this, it will

[2015-06-29 13:56] nmielnik commented on #666
So this means we don't want to `wrap` the `<ul>` inside of an `<li>`, we want to move the `<ul>` into it's previous sibling `<li>`...which starts to make more and more sense the more I think about it.

@IonicaBizau will that still solve your issue?

[2015-06-29 13:59] IonicaBizau commented on #666
@nmielnik Good point! :+1: Just tried it here: http://jsfiddle.net/tuvtba7c/
Sorry for confusion.

Yes! Indeed, the valid version is the second one.

[2015-06-29 14:01] steoo commented on #232
In my opinion this should be classified as **bug**,of `contenteditable` of course, but our mission is to fix bad behaviour of this bad guy or not? :)

[2015-06-29 15:14] nmielnik commented on #232
I've created a 'htmlcleanup' label as a way to group together any cross-browser, contenteditable issues that we may want to try to fix via some markup cleanup in medium-editor.

This seems like a great candidate to try to cleanup.  There are also lots of other [browser inconsistencies](https://github.com/guardian/scribe/blob/master/BROWSERINCONSISTENCIES.md) we may want to fix moving forward as we

[2015-06-29 15:20] shanetmoore commented on #232
Feel like I just whacked the hive.

@steoo Here Here!

@nmielnik One other piece I don't see listed in that doc is the difference between text-align commands. Chrome interprets the command and uses text-align (which is what I would expect).
Firefox interprets this differently and uses an 'align' attribute which isn't respected on all browsers.

So If you save the generated HTML as a document in fi

[2015-06-29 15:23] nmielnik commented on #232
Yeah, this is definitely and issue I've run into, especially while working with @steoo on #675

I'm not sure if we have a specific issue opened to track this problem, if we don't would you be interested in creating one?

[2015-06-29 15:25] steoo commented on #232
@nmielnik Great, I'm sure this will help

[2015-06-29 17:47] mattpickle opened #711 "Textarea attribute not carried over to Div"
When the `textarea` is hidden and `div` element is created, we are losing a custom attribute that styles the element.  Is there anyway we can attach custom attributes to the `div`?

![screen shot 2015-06-28 at 8 58 41 pm](https://cloud.githubusercontent.com/assets/8332157/8414282/0953782a-1e65-11e5-9c73-5d8a3190feb0.png)

[2015-06-29 19:58] mphasize commented on #666
Ah, thanks for the clarification! I didn't realize that the distinction between an empty `li` and the previous sibling `li` is the important thing to look out for. I hope I will be able to fix that soon and hopefully it will also solve the other issues.

One edge case: If a user tries to indent the first list item into a second order list, I assume we simply ignore the command?

[2015-06-29 20:21] j0k3r commented on #711
You're right, we didn't keep attributes from the textarea when we create the contenteditable div ([see here](https://github.com/yabwe/medium-editor/blob/master/src/js/core.js#L286-L317)).

I think we can easily provide a way to re-create all attributes from the textarea. And to avoid problem, we shouldn't override attributes we already defined, like `class`, `id`, `role`, etc ..

[2015-06-29 21:17] nmielnik commented on #666
My vote would be for worrying about the indentation as a separate issue/PR, so we can see what the browsers do once we get this stuff working first.

[2015-06-30 00:50] gerherz opened #712 "SelectAllContents isn't always selecting all contents"
I'm using selectAllContents() to replace the entire content of the editor:
[code]

On an apparently random behaviour, the logged value returned by exportSelection() when the issue appears is:
Object { start: 13, end: 13 }

When this happens, the pasted string 'value' is appended to the content, as if nothing was selected.

[2015-06-30 07:34] filipkis commented on #508
+1 for this one

Also the targetBlank doesn't work for auto link option. Should I open a new issue for that case?

[2015-06-30 07:38] j0k3r commented on #508
@filipkis yes please open an issue about that

[2015-06-30 07:45] filipkis opened #713 "targetBlank = true not working for automatic links (when autoLink = true)"
When links are created automatically and the targetBlank is set to true, the automatically created links will still not have any target set.

Similar to #508

[2015-06-30 07:48] filipkis opened #714 "Links broken if no protocol provided"
When inserting links using the anchor toolbar button and typing for instance only www.google.com (instead of full path http://www.google.com) the href of the anchor will only be set to the typed value, which in turn will cause the links to be broken (directing to http://yourapp.com/www.google.com).

The protocol (http://) is nicely added to links that are created automatically (autoLink = true), b

[2015-06-30 07:50] j0k3r commented on #712
Could you provide a step by step guide to reproduce?

[2015-06-30 07:53] j0k3r commented on #714
We should add `http://` by default if the inserted link doesn't start with `https?://`.

[2015-06-30 08:17] steoo commented on #232
@nmielnik @shanetmoore I'm thinking about a solution to the `align` problem with the support of Rangy Class Applier Module ( https://github.com/timdown/rangy/wiki/Class-Applier-Module ). I think it can be an extension, if someone wants to join me, he's welcome.

[2015-06-30 09:09] mphasize commented on #666
I just updated the PR with the new correct behavior. As anticipated, the edge case I mentioned above throws an error.

In order to resolve this, I would check whether the user is in the first item of a list *before* executing the `indent` command. Sounds good?

[2015-06-30 09:35] filipkis commented on #714
On further inspection, the adding of protocol works if the `anchor: { linkValidation: true }` is set, so the question is should the protocol also be added when the validation option is turned off?

I'm guessing there should be some consistency between how autoLink and anchor work.

[2015-06-30 09:47] j0k3r commented on #714
In fact, the `linkValidation` is actually doing what you asked for. It adds `http://` on anchor link if it doesn't start with a protocol

See https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/anchor.js#L208-L211

I think the question is more, should `linkValidation` be turned `true` by default ?

And you're right about consistency about these two extensions.

[2015-06-30 12:11] #713 closed

[2015-06-30 12:53] nmielnik commented on #714
The problem here is that `linkValidation` is an implicit requirement of auto-link.  Auto-link can only do something if it actually detects a valid link, so there can't really be a concept of turning off link validation for auto-link.

So, I don't think these options can be synchronized, however I do think it could be valid for `linkValidation` to be `true` by default...as long as we can convince o

[2015-06-30 13:07] j0k3r commented on #714
Thinking about it, why this kind of feature is disabled by default and why this is an option at all.

Since anchor is about to insert a link, why people should insert relative link instead of absolute one?

[2015-06-30 13:10] filipkis commented on #714
I'm guessing having it as an option would still be good. Maybe in some cases you want relative links because the content is supposed to run on different domains (e.g. local and production), or you might be just creating hash links.

[2015-06-30 13:11] nmielnik commented on #232
Something I've been mulling is whether we could have our own implementation of the class applier.  There was a lot of code added as part of the autolink feature which actually gets us most of the way to our own custom class applier-like functionality, it just needs some additional love.

In the meantime, using another extension that has a dependency on rangy sounds like a great idea, and I'd be ha

[2015-06-30 14:24] j0k3r commented on #714
So we'll switch `linkValidation` defaut value to `true`. But we just need to allow hash url to be valid too.

@filipkis you're more than welcome to submit another PR about that :smile:

[2015-07-01 17:33] gerherz commented on #712
Sorry, I tried to reproduce from scratch but it seems it was content-related, as I can't reproduce it anymore.

[2015-07-01 17:33] #712 closed

[2015-07-02 09:17] courgette opened #717 "One click to open toolbar"
Hi,
It's possible to open toolbar with one click ?
Thanks

[2015-07-02 11:24] j0k3r commented on #717
Which case do you want to achieve?
Where should you click to open it?

We need more information if you want a proper answer :smile:

[2015-07-02 12:38] courgette commented on #717
Actually, on a element, i have to double click on this element to access to the toolbar and edit my element. So, i want to do the same thing, but with one click.

[2015-07-02 13:06] j0k3r commented on #717
You have to double click because you need to select some texts before taking any actions with the toolbar. In fact, the toolbar is fired as soon as you select some texts.

What you are looking for is put your cursor in some random text, then the toolbar is fired but what should happen if you hit the bold button for example? Which should we put in bold? Only the word around your cursor? The whole l

[2015-07-02 14:41] courgette commented on #717
Ok, right !
it's logic, thanks for your answer !

[2015-07-02 14:41] #717 closed

[2015-07-02 19:02] reco commented on #543
any plans on this? it's really annoying

[2015-07-02 20:08] daviferreira commented on #543
no plans, just hope :pray:

[2015-07-02 20:35] DylanPiercey opened #719 "Reset Medium editor."
It would be nice if the editor (when tied to a textarea) automatically reset when the textarea's for resets.

Currently when I reset my forms using ```form.reset()``` everything gets reset (including the textarea) but not the medium editor.

[2015-07-02 20:50] sebastiannm opened #720 "Hide toolbar when using an extension"
I have been trying to create my first extension but I'm stuck at the part where I should hide the toolbar as the anchor extensions does.

I'm using this code from inside the extension after clicking the actionButton:

[code]

For some reason this only hides my custom buttons and doesn't hide the toolbar. How should I do?

[2015-07-02 21:11] nmielnik commented on #719
From looking into this a bit, there doesn't seem to be a way to know when the textarea has been cleared as a result of doing a `form.reset()`.

So, in order to do this, we'd need to attempt to detect if the existing `<textarea>` is within a form, and if it is, attach to the `reset` event of the `<form>` element itself and manually clear the editor.

For example, we could add some code into the [`i

[2015-07-02 21:16] nmielnik commented on #720
The purpose of the `hideToolbarDefaultActions()` method is so something like the anchor extension can hide the buttons inside the toolbar, and display an input field inside the toolbar.  It doesn't want the entire toolbar to hide itself.

In what case are you trying to hide the entire toolbar?  I just want to double-check that this is the functionality you need, because the toolbar may not stay hi

[2015-07-02 21:22] sebastiannm commented on #720
Thank you for your answer.

I did try that but the only behavior I get is the editor hiding my default buttons. Notice the image icon at the right.

Before:

![screen shot 2015-07-02 at 5 19 56 pm](https://cloud.githubusercontent.com/assets/1763632/8488182/c7e50cc4-20de-11e5-8fcd-3f597ef0c75a.png)

After:

![screen shot 2015-07-02 at 5 20 02 pm](https://cloud.githubusercontent.com/assets/1763632/8

[2015-07-02 21:35] schnittchen commented on #149
Looks like this is still an issue: when the initial text value is "ddd", the editor will change it to "ddd<br>". After inserting a newline in the middle of the word and removing it again, the word is wrapped in a <p> tag. That's three times the same thing (to the user) being potentially rendered differently.

[2015-07-02 21:37] schnittchen commented on #149
Oh, and gh's markdown spoiled my comment, so here's the middle version with url encoding: "ddd%3Cbr%3E"

[2015-07-02 21:56] nmielnik commented on #720
Make sure you're calling `hideToolbar()` and not `hideToolbarDefaultActions()`.

Based on the screenshots you're showing, I'm thinking there's something else going on here (there might be 2 toolbars being displayed, and when you hide one the other one becomes visible).

Can you share the code or create a JSFiddle which shows the issue?  Can you check to see if you're instantiating multiple version

[2015-07-02 22:01] nmielnik commented on #149
Thanks for the clarification, looks like this is yet another issue of weird browser handling of contenteditable content.  I've had thoughts about trying to enforce that there can only be only block elements as direct children of the contenteditable `<div>`, meaning `ddd` could never be the content, it would always have to be `<p>ddd</p>`...

This is definitely something the medium-editor code coul

[2015-07-02 22:04] #239 closed

[2015-07-02 22:07] nmielnik commented on #149
This issue seems somewhat related to #34, if we try to fix this one it should fix that issue as well (or vice versa)

[2015-07-02 22:10] nmielnik commented on #694
Looks like this is actually a duplicate of #180

[2015-07-02 22:10] #694 closed

[2015-07-02 22:11] nmielnik commented on #180
Some additional thoughts and requirements for this were brought up in #694

[2015-07-02 22:19] DylanPiercey commented on #719
Not sure what the browser support is, but inputs within the form are given a #form attribute.

Rather than looping up the parent nodes until you find a form you should be able to just check for

[code]

[2015-07-03 04:34] Olgagr opened #721 "Get current node inside editor"
I'm trying to find in docs but no luck so far. I'm want to get the current node where the cursor is. Let's say that user presses 'Enter' key and so I want to get back the reference to the last paragraph within active editor. Is it doable ?

[2015-07-03 04:50] Olgagr commented on #721
Ok, it can be done by calling window.getSelection.

[2015-07-03 04:50] #721 closed

[2015-07-03 10:47] schnittchen opened #722 "imageDragging: false option not working on FF"
I was able to drag&drop images into the editable even with imageDragging: false. I checkt both agains the minified and unminified version from the dist/ directory on master.

Here's my config:

[code]

[2015-07-03 11:06] j0k3r commented on #722
On which browser are you testing ?

I've setup a jsfiddle to reproduce your issue but it works for me: http://jsfiddle.net/j0k/jhvzzp1c/3/
 - Put your cursor into the first contenteditable, then drag an image, it works
 - Put your cursor into the second contenteditable, then drag an image, it doesn't works (actually it tells the browser to open the image)

Could you provide a jsfiddle to reproduce

[2015-07-03 11:13] schnittchen commented on #722
I can drag an image into both areas of your fiddle.

I'm using Iceweasle 38.0.1.

[2015-07-03 11:15] j0k3r commented on #722
Could you try on a different browser ? I've no idea how _bad_ contenteditable is supported by Iceweasel (which I didn't know few seconds ago).

[2015-07-03 11:25] schnittchen commented on #722
Same on FF 38.0.5 and 39.0 on windows (Iceweasle was on debian testing).
On IE 11.0.9.6, the tab is replaced with the image (file://...).

[2015-07-03 11:37] j0k3r commented on #722
Ok, I've tried on Firefox 38.0.5 on my Mac (which seems to be almost the same as Iceweasel) and I can drag image on both areas too.
I previously tried on Chrome and it worked.

In fact, `imageDragging: false,` doesn't disable drag'n'drop feature, it does not enable our custom extension to handle dragging. Maybe, when imageDragging is disabled we should add some listeners on  `dragover` and `dragle

[2015-07-03 11:42] j0k3r commented on #722
This seems to work for me on Firefox:

[code]

Could you try on Iceweasel too ?

[2015-07-03 12:34] schnittchen commented on #722
With that snippet, dragging has no effect both with imageDragging == true and == false.

[2015-07-03 13:44] j0k3r commented on #722
Yeh, sorry I didn't told you to test this behavior on `imageDragging: false`.
So this mean, this snippet should fix your problem. We just need to integrate it now.

[2015-07-03 13:45] schnittchen commented on #722
Are you sure? I believe it breaks imageDragging: true.

[2015-07-03 13:47] j0k3r commented on #722
Yeah of course, what I mean is if user defined `imageDragging: true` (or does nothing since imageDragging is enabled by default) we won't apply this snippet.
On the other hand, if `imageDragging: false` then we will apply this snippet.

[2015-07-03 14:10] schnittchen commented on #722
Oh then that's fine :) It's too hot to think straight...

[2015-07-03 14:12] nmielnik commented on #722
Interesting...so we think the image-dragging extension should go as far as to prevent default on all drag and drop events when `imageDragging: false`?

[2015-07-03 14:14] j0k3r commented on #722
Well, there should be a case where if user disabled imageDragging, it might still want ability to drag text (could be a rare case but..).
Can we disable drag'n'drop only image but keep text ?

[2015-07-05 23:13] nmielnik commented on #714
For now, I think it will be better to leave things as there are currently, and not have linkValidation turned on by default.  I don't think the fact that auto-link requires valid links is a strong reason to make the link extension require protocols on urls.

We can definitely revisit this later when there's a better case to be made in favor of it, but for now I'm going to close this issue.  Thanks

[2015-07-05 23:13] #714 closed

[2015-07-06 14:51] nmielnik commented on #722
Fixed via #723

[2015-07-06 14:51] #722 closed

[2015-07-06 14:57] sebastiannm commented on #720
Here I created a Fiddle:

https://jsfiddle.net/sebastiannm/tcg6pf8r/

[2015-07-06 15:42] sebastiannm commented on #720
I found the issue, It happen when using the wrapper for angular.
Thanks

[2015-07-06 15:42] #720 closed

[2015-07-06 15:50] nmielnik commented on #720
@sebastiannm Thanks for posting the JSFiddle, I was able to find a few things that would definitely help you, and I've posted an updated JSFiddle here: https://jsfiddle.net/tcg6pf8r/3/

* You'll want to extend from `MediumEditor.extensions.form` instead of `MediumEditor.Extension`.  This form extension also derives from the button extension, so you'll get a bunch of things for free:
  * Creates th

[2015-07-08 14:08] sebastiannm commented on #720
Thanks

Of course, I'm almost done with it, I would love to share it when done

[2015-07-08 15:02] sebastiannm commented on #720
I come here with the example.

After clicking on the button, it will fetch images from flickr and show a grid that can be selected.

https://jsfiddle.net/sebastiannm/tcg6pf8r/

[2015-07-09 14:00] nmielnik commented on #720
Thanks a ton!

[2015-07-10 07:20] Olgagr commented on #523
If somebody needs really simple, vanilla javascript picker, this is my implementation. I [forked](https://github.com/Olgagr/vanilla-color-picker) vanilla-color-picker to make some adjustments for medium-editor styling.

[code]

The final result looks like this:

![twipe_publishing_tools](https://cloud.githubusercontent.com/assets/1297219/8613913/b69bb948-26e4-11e5-9782-82bfdcf7d86c.png)

[2015-07-10 10:50] Olgagr opened #724 "toggle superscript and subscript"
Is there any easy way to toggle superscript and subscript ? I know this is not supported by execCommand but maybe somebody did it.

---- edit
Hmm, I read one more time the documentation and it seems like execCommand support toggle on this options. This is a bug ? I'm using Chrome on Mac.

[2015-07-10 13:31] nmielnik commented on #724
Have you tried enabling the `superscript` and `subscript` buttons for MediumEditor?

If it doesn't seem to be behaving the way you would expect, it could be a conflict between your css and the browser's expectations for these commands.  Check out #448 to see if it helps.

[2015-07-10 13:34] nmielnik commented on #570
@NoelBaron did you ever get a chance to come back and explore this?

[2015-07-10 13:36] NoelBaron commented on #570
@nmielnik funny you should post this today, I'm smack in the middle of upgrading to 5.3 right now. Last progress is from April 21, ya?

[2015-07-10 13:42] nmielnik commented on #570
I guess my v5 upgrade radar must have been going off :rotating_light:

Your last comment on this issue way May 6th, if that's what you are asking, so pretty close.

Definitely check out the [UPGRADE-5.md](https://github.com/yabwe/medium-editor/blob/master/UPGRADE-5.md) file, and let us know if you have any questions while upgrading!

[2015-07-10 13:49] Olgagr commented on #724
@nmielnik Yes, I enabled build-in buttons in medium editor and they just turn on sup/sub and it is not possible to turn them off. I'm using version 4.12.6. I tried execCommand in Chrome console and indeed this does not toggle. So this is browser bug. In the mean time, I just overwritten the build in buttons. I temporary switch to styleWithCSS as Chrome does not problems with toggle inline styling.

[2015-07-10 13:59] nmielnik commented on #724
Definitely take a look at #448 , others have run into this exact same problem in Chrome.

Thanks for all the sample extension as well!  You should consider upgrading to v5.x.x where adding these custom extensions / buttons is greatly simplified. There are examples of this in our Wiki on [Custom Buttons & Extensions](https://github.com/yabwe/medium-editor/wiki/Custom-Buttons-and-Extensions) (it's s

[2015-07-10 14:05] nmielnik commented on #448
@olgagr added some [sample button overrides](https://github.com/yabwe/medium-editor/issues/724#issuecomment-120415261) that leverage `styleWithCSS` to handle subscript and superscript, as an alternate way to work around this issue.

[2015-07-10 14:05] #724 closed

[2015-07-10 14:10] Olgagr commented on #724
@nmielnik Thanks :)

[2015-07-10 15:25] NoelBaron commented on #570
Alright @nmielnik, I was able to implement your fallback solution using 5.3.0 and it works splendidly well. However, we're at the mercy of the FF team to resolve their backspace issue, as I was unable to get the backspace key to trigger a full delete. Luckily, in FF 38.0.5+ I was able to highlight the link to delete it. The cursor issues you mentioned back in April appear to be resolved.

I added

[2015-07-10 19:41] nmielnik commented on #570
Yeah, if you have a valid use case for it, I think it's definitely worth a pull request (with a few tests of course :smile: )

Regarding the functionality for delete/backspace on a contenteditable, I would say if you have an implementation that works, go with it.  If there are any performance concerns, we can always have an option that is by default `false`, but in your case you can turn on.  We c

[2015-07-10 19:41] #570 closed

[2015-07-10 19:58] nmielnik commented on #185
I am not able to reproduce those 'resize' handles happening in IE.  Either the repro steps are quite accurate, or this has been fixed along the way.

However, the issue with the inconsistent HTML inside of `<pre>` element tags for various browsers is definitely an issue.  That's what this issue should be targeting.

[2015-07-10 20:09] nmielnik commented on #234
I was not able to reproduce this anymore, please re-open and include more repro steps if anyone is still have this issue.

[2015-07-10 20:17] nmielnik commented on #70
To clarify this issue, I believe the correct way to summarize this would be:

Expose option to have pressing <kbd>ENTER</kbd> insert a `<br>` tag, instead of creating a new `<p>` by default.

Something like a `singleEnterBlockElement` option, which is `true` by default, but when turned off, will insert a `<br>` for single <kbd>ENTER</kbd>, and a `<p>` for <kbd>ENTER</kbd> x 2

[2015-07-10 20:23] nmielnik commented on #42
Haven't heard back on this one, closing this issue for now.

[2015-07-10 20:23] #42 closed

[2015-07-10 20:27] nmielnik commented on #121
@ksred As far as I can tell, I think this behavior now exists [here](https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/paste.js#L122-L130) in the built-in paste-extension of MediumEditor. If you were intending for something else to be implemented here, feel free to reopen the issue and add some clarification.

[2015-07-10 20:27] #121 closed

[2015-07-10 21:21] nmielnik commented on #522
Closing this for now as it seems like it may have been fixed.  @marceloboeira if you are still seeing this please re-open the issue.

[2015-07-10 21:21] #522 closed

[2015-07-10 21:27] nmielnik commented on #498
In the spirit of what this editor was intended for (to mimic medium), I'm gonna say this shouldn't be a built-in feature for medium-editor.  There are various ways to manually force the toolbar to be visible, and especially now that the toolbar is an overrideable extension, I'm ok with developers needing to find their own way to make the toolbar always be visible for their usage.

[2015-07-10 21:27] #498 closed

[2015-07-10 21:30] nmielnik commented on #434
I am actively investigating building a rich-text editing system that is based on a JSON model behind the scenes that renders consistent HTML markup.  If I'm able to get enough of a proof-of-concept working, I'll open it up for help and contributions either via here or another repo.

[2015-07-10 21:31] #315 closed

[2015-07-10 21:32] nmielnik commented on #400
@z-ax would you be able to see if the fix outlined in #315 resolves this issue?

[2015-07-10 22:39] mkhatib commented on #434
I also started playing around with the idea of building an editor with JSON model under cover, it's still early on but have a [demo here](manshar.github.io/editor/demo/index.html). The code needs some cleanup and refactoring, I was also working on the inline-formatting but still haven't gotten much done there - block formatting works though.

You can see the [git repo that I am playing with here](

[2015-07-11 16:39] daviferreira commented on #434
@mkhatib really cool!

[2015-07-11 17:18] nmielnik commented on #434
Yes @mkhatib this is pretty awesome.  You're taking a different approach to building the JSON representation of the DOM which is great so we can compare our approaches and learn from eachother.

Looks like I need to get what I'm working on available for others to look at as well.  I'll let you know once it's shared out.

[2015-07-11 17:21] nmielnik commented on #434
@mkhatib One thing I used to get a nice visualization of the JSON structure is this:  http://philogb.github.io/jit/

It took a bit of trial and error, but now I'm able to get a nice compact, visualization of the data model while the text is being edited.

[2015-07-13 15:56] nmielnik commented on #434
@mkhatib the github repo we're working with is [here](https://github.com/yabwe/words) if you wanted to check it out and give any feedback / collaborate as well.

Your code is in a much better working state, as we don't really have any command support as of yet (bold, italic, and underline kind of work)...I'm still trying to work out how to make sure the JSON data structure is valid as the user mod

[2015-07-14 12:31] l2aelba opened #726 "Do not change classes in anchor"
Is it possible to prevent removing classes when edit link ?

**Example :**

`<a href="#" class="one two three">My button</a>`

Those classes will stay when edited link.

Any option I missing ? or any idea ? Thanks.

[2015-07-14 13:56] nmielnik commented on #726
I'm not sure if this is quite what you're looking for, but there's always the [`customClassOption`](https://github.com/yabwe/medium-editor/wiki/Options#customclassoption) which allows the user to choose whether to have a specific class(es) on the link that they create.

Otherwise, you may have to override the anchor extension or the anchor-preview extension in order to inspect the classes before t

[2015-07-14 23:24] cihad commented on #273
+1

[2015-07-15 20:17] tanelkarp opened #728 "Modifying extension buttons seems to have no effect"
Hi!
I'm using the Medium Editor together with the tables extension and Dashicons for the toolbar buttons. For some reason, I can't modify the "table" button, it just states "tbl" and doesn't apply the options I've set. Is this expected behaviour, a bug or an error on my end?

Here's the code:
[code]

And here's what I'm seeing, just "tbl" for the button and no hover text:
![image](https://cloud.gi

[2015-07-15 22:10] nmielnik commented on #728
The method in which you're overriding the buttons (`toolbar.buttons` option) allows you to override the properties of the built-in buttons for MediumEditor.  However, `MediumEditorTable` is not a built-in button.

Since you're passing an actual extension object in via the `extensions` option, the custom extension itself is in charge or setting the content of the button it generates. Thus, if you w

[2015-07-15 23:24] nmielnik commented on #349
![mediumeditor](https://cloud.githubusercontent.com/assets/2444240/8712185/1ed9688e-2b27-11e5-85ce-18299fb7b0fb.png)

[2015-07-16 07:15] daviferreira commented on #349
wut

[2015-07-16 07:17] daviferreira commented on #728
But I think it's a nice feature to add, to override extensions buttons.

[2015-07-16 14:31] nmielnik commented on #728
@daviferreira perhaps the table-extension could be updated to allow for this overriding as well?

[2015-07-16 16:03] dominicwong617 opened #730 "get and set caret positions"
I am working on an app that has multiple editors in the same page and it requires that I check whether the caret is in the beginning/end of the contenteditable and also to set the caret to the beginning/end of it.

I can integrate my code into medium-editor and I wonder if this is something useful to anyone?

@nmielnik @daviferreira

Thank you!

[2015-07-16 17:44] nmielnik commented on #730
This sounds like it could be something useful, but we probably don't want to add code that isn't going to get covered internally...however, I guess we could always just add a bunch of tests for now and leave it as an exposed utility.

Would you be willing to open a PR with the code, or maybe share a gist so we could look at it?  I'm definitely curious what kind of mechanisms you're using.

[2015-07-16 21:58] #484 closed

[2015-07-16 22:02] nmielnik commented on #405
It seems like we would just want a helper method that allows you to set the content of the editor's element(s).

Something like:

[code]

[2015-07-16 22:04] nmielnik commented on #262
I think this would be something to add in a custom extension.  If someone opened a PR which would enable this in the core editor, I think we'd consider taking it, but I don't think this is a realistic feature ask as of now.

[2015-07-16 22:04] #262 closed

[2015-07-17 04:00] adrianopolis opened #731 "onchange doesn't seem to work as expected"
If I append some code to my target. I see my images/videos etc appear just fine in the editor but when I save my data and then come back to edit, it's gone. Yet if I do indeed add a space or some other text etc... along with my image,video or whatever else I have appended it works as expected. Any advice or fix to have it recognize my append and trigger the onchange to save the data as if it were

[2015-07-17 12:40] nmielnik commented on #731
I'm assuming you're talking about the custom `editableInput` event?

Either way, as long as you're using subscribe to attach your event handler, you can always manually trigger the event:

[code]

There is an issue #405 which talks about being able to programmatically change the content in editor elements, it seems like when we implement that change we'd also like it to manually trigger the `edita

[2015-07-17 12:40] nmielnik commented on #405
As pointed out in #731 we would want this code to also trigger the `editableInput` event so any listeners would know about the change to the content.

[2015-07-17 14:42] sebastiannm opened #732 "Unexpected behavior when adding a link inside a list"
Hi,

When adding a link inside a list I get a H2 wrapping the UL list for some reason.

I created a fiddle to show it:

http://jsfiddle.net/sebastiannm/9n1rw7tp/

Example:

Select 'W Korea' and add a link to it

[2015-07-17 14:50] nmielnik commented on #732
Wow, that is a very strange behavior. Thanks for the jsfiddle, I'll look into this as soon as I can.

[2015-07-17 18:29] adrianopolis commented on #731
Hi, thanks for the responses. I've replaced the alert("test); with other stuff just to test... like a body click event but it still won't update. I'm probably missing something?
<pre>
    var editor = new MediumEditor('.editable', { ... });
    editor.subscribe('editableInput', function (event, editable) {
        alert("test");
    });

    $( ".editable" ).focus(function(e) {
        ... my cust

[2015-07-17 20:27] nmielnik commented on #731
Some thoughts/suggestions:

1. After you call `editor.subscribe('editableInput', function (event, editable) { ... });` did you make sure then when you type inside the editor that the event listener is triggered?  I'm not sure when your code it running, but it's possible that the editable element doesn't exist in the DOM yet when you try to initialize MediumEditor.  Just make sure that the 'editabl

[2015-07-17 20:50] adrianopolis commented on #731
Thanks for all your helpful feedback and I will work on more of your suggestions however for now as a quick fix I wanted to share our manual solution in case anyone else has similar needs:
We are running this on our submit:
<pre>
        $('textarea.medium-editor-hidden').each(function(index, element) {
            var editable_content = $(element).parent('fieldset').find('div.editable').html();

[2015-07-17 20:54] nmielnik commented on #731
ahhh, you're using a `<textarea>` right?  Make sure that you're appending the image to the `<div>` that MediumEditor is creating and not the original `<textarea>` element that was on the page.

MediumEditor doesn't monitor any actions or events on `<textarea>` elements, it only monitors events on the `<div>` element that is created and sync'd up with the original `<textarea>`

[2015-07-17 20:59] adrianopolis commented on #731
Awesome thanks!

[2015-07-18 10:21] dominicwong617 commented on #730
@nmielnik

Here is what I currently have for my own application.
https://gist.github.com/dominicwong617/d9f4188b4d364d052b45#file-medium_editor_caret-js-coffee

[2015-07-20 10:46] benjamin79 commented on #523
@Olgagr thanks, but it seems to me this is for v4. Cause util.derives is gone in v5

[2015-07-20 16:25] Olgagr commented on #523
@benjamin79 Yes, this is for v4. I'm using version4 right now.

[2015-07-20 16:36] nmielnik commented on #523
An updated version of that code that would work with v5 would be something like this:

[code]

[2015-07-21 20:15] scripting opened #737 "Using medium-editor to edit titles and descriptions"
I have medium-editor working to edit the body of a document, but I also want to use it to edit the title and description. I'm working in a small testbed.

http://myword.io/testing/mediumeditor2.html

It's not working very well I think because medium-editor is wrapping the text in a &lt;p>.

Is this not a good way to use medium-editor, or is there some way to turn the automatic addition of &lt;p> e

[2015-07-21 20:52] nmielnik commented on #405
Fixed by #736

[2015-07-21 20:52] #405 closed

[2015-07-21 21:03] nmielnik commented on #737
You can disable the user hitting `return` via some options, so that could potentially help you prevent the user from adding additional newlines.   However, my guess is that the `<p>` will still end up getting inserted, this is particularly to help make things consistent across various browsers.

You can try instantiating one instance of MediumEditor for the title and description areas, and another

[2015-07-21 21:32] scripting commented on #737
Thanks for the advice.

Thanks for the quick response.

Adding disableReturn definitely helps.

I did consider stripping out the &lt;p>s, but decided at least for now not to do it. I could easily see that causing breakage down the line.

The current performance isn't actually all that bad. There is some jumpiness, when you click and start typing, the text slides down a bit. I really want to get th

[2015-07-21 21:38] scripting commented on #737
A related question -- what determines the height of the caret?

It's way taller than the text.

Here's a screen shot that illustrates.

![image](https://cloud.githubusercontent.com/assets/1686843/8813166/5188fc7a-2fcf-11e5-892f-e0a6b3f12117.png)

[2015-07-22 07:29] daviferreira commented on #737
Maybe it's because of the custom font you are using, I don't know. But I believe font-size is what determines the caret's height.

[2015-07-22 11:54] scripting commented on #737
David, that's a very interesting theory.

I tried an experiment, and commented out the font-family and font-size styles in the demo app and took a screen shot below (as with the previous shot, it's blown up to make the caret size more visible).

It appears the caret is still too tall. So I don't think it's the font, because this is using the font choices of medium-editor.

<img width="462" alt="ca

[2015-07-22 11:54] l2aelba opened #738 "Sometimes adding class to links , doesn't work"
Demo : http://jsfiddle.net/8jrod5c9/

![a3aebhtxxh](https://cloud.githubusercontent.com/assets/983458/8824755/0807eb6a-3079-11e5-924d-fd009cf690cf.gif)
Found bugs :
- Button checkbox still checked
- Sometimes adding class does not work (work perfect just first time)
- You can see more on GIF

[2015-07-22 11:56] l2aelba commented on #726
@nmielnik ,Thanks so much, but some bugs https://github.com/yabwe/medium-editor/issues/738

[2015-07-22 13:58] nmielnik commented on #726
Yeah, there is something odd going on with the link editing.  Until I get time to investigate, hopefully someone else can see what's causing the issue.

Thanks a ton for opening these issues!

[2015-07-22 13:58] #726 closed

[2015-07-22 13:59] nmielnik commented on #738
Yeah, there are a bunch of things going wrong here.  I've checked in a fix for the css so the toolbar doesn't look so horrific with checkboxes in it.

Figuring out why things aren't working properly, that will take some investigation.

[2015-07-22 14:00] nmielnik commented on #737
Could it be `line-height` that controls the cursor height?

[2015-07-22 14:05] yoshokatana commented on #34
Ditto on that. I set `disableReturn` to true (which gets rid of it in most cases), but those extraneous `<p>` tags are still being added if I paste in text. I even did this, but it doesn't seem to be doing anything:

[code]

[2015-07-22 14:12] yoshokatana commented on #251
This would also be useful if the containing element were itself a paragraph, e.g.

[code]

...which is sort of how I'm using it right now. (It still tries to insert extraneous `<p>` tags, see https://github.com/yabwe/medium-editor/issues/34#issuecomment-123733549 )

[2015-07-22 18:34] alchemistgo87 opened #739 "Editable class not working inside ng-repeat directive"
[code]
In this I am not able to edit "this is editable content" while its working outside of ng-repeat. I am using latest 5.5.0 version.

[2015-07-22 19:45] nmielnik commented on #739
Would you be able to give a bit more clarify as to what you're doing and how you're instantiating MediumEditor? Something like a JSFiddle would be extremely helpful so we can get a better idea of what is going on and what problem you are seeing.

[2015-07-22 20:20] alchemistgo87 commented on #739
Her is the JSFiddle:
https://jsfiddle.net/L5j2ym9e/2/

[2015-07-22 20:31] nmielnik commented on #739
@alchemistgo87 I believe the issue here is that you are including the script tag which initializes MediumEditor inside the `<head>`.  At this point, the `.editable` element doesn't exist on the page.

I've updated your JSFiddle and was able to get things working by including the `<script>` tag after your HTML: https://jsfiddle.net/L5j2ym9e/7/

You can try either including the `<script>` tag furthe

[2015-07-22 20:50] alchemistgo87 commented on #739
This is the actual jfiddle: https://jsfiddle.net/L5j2ym9e/9/
I will explain what I am doing. There is list of sections and subsections which user can create dynamically by pressing add button. On pressing add button input boxes are created inside the ng-repeat directive as I add an empty item in the list of subsections on pressing of addbutton. Now here is a textarea inside the subsection. This te

[2015-07-22 20:56] alchemistgo87 opened #740 "#739 Still have some problem"
#739 Not able to reopen this issue, I have added a comment as I still have some problem, its not resolved.

[2015-07-22 20:59] nmielnik commented on #739
So I'm able to muck around with the jsfiddle as there is some exception getting thrown by Angular.

I would add a line into your code wherever you're instantiating MediumEditor to query how many `.editable` elements are available on the page at that time.

Something like:
[code]

What is likely happening is that the elements do not exist at the time MediumEditor is instantiated.  Especially if the

[2015-07-22 21:00] #740 closed

[2015-07-23 06:35] alchemistgo87 commented on #739
You are right, elements do not exist during the creation of a new instance of MediumEditor. So, it means whenever I am dynamically adding a new element, I need to re-initialize an instance of MediumEditor?

[2015-07-23 07:09] alchemistgo87 commented on #739
[code]
Now on every call of addSubSection I have re-instantiated MediumEditor. But editor comes only after I call addSubSection 2 times. On the second call the editor becomes visible in the first subsection and so on. What am I doing wrong here?

[2015-07-23 07:11] frankrousseau commented on #70
Hello there,

  Thank you for Medium-editor, it's really a nice and beautiful editor. So good, that our team integrated to the [webmail](https://github.com/cozy/cozy-emails) we are building. Because it's a webmail we would like to have the behavior of `shift+enter` when only `enter` is typed. I wanted to modify directly the source code of the version we embed, but I can't find what should be chang

[2015-07-23 13:00] nmielnik commented on #739
My guess for this would be that you need to swap the two lines within your `addSubSection` method.

Make sure you do all of your html manipulation first (ie creating the subsection elements), and then call `new MediumEditor()`.  I'm not familiar with angular, but I'm assuming that the call to `aboutSection.subSections.push()` will actually put the HTML into the page?  If so, then this would work:

[2015-07-23 13:16] nmielnik commented on #70
So https://github.com/yabwe/medium-editor/blob/master/src/js/core.js#L14 is closer along the lines of what you would want to do.  This is where the code handles preventing newlines when <kbd>ENTER</kbd> is pressed (`disableEnter` and `disableDoubleEnter`).

Your custom code could manually subscribe to `editableKeydownEnter` like we do [here](https://github.com/yabwe/medium-editor/blob/master/src/j

[2015-07-23 14:20] frankrousseau commented on #70
Thank you for your detailed answer. I already tried to comment these lines and add a `insertHTML` command with `<br>` inside. It works but it messes up everything with the focus and the br is not placed wher I would like.
What I noticed is that when you do `shift + enter`, it's the expected behavior. So my question is how can i bind this behavior directly to the `enter` command?

[2015-07-23 14:40] nmielnik commented on #70
Outside of handling keydown on <kbd>ENTER</kbd> and inserting the HTML yourself, I'm not sure of a way to do this.  I don't believe you can mimic the browser's built-in handling of <kbd>SHIFT</kbd> + <kbd>ENTER</kbd> but it could be worth doing a little searching to see how others may have handled it.

[2015-07-23 14:56] frankrousseau commented on #70
Ok it's the browser which performs the change not the editor. I understand now why I didn't find the code for it. So, I will go that way. Thank you.

[2015-07-23 19:10] alchemistgo87 commented on #739
I got the answer why it was not working, needed to add "$scope.$apply();" after  pushing the element into the array. But now another problem has occured:

Using <textarea> with class="editable medium-editor-textarea" disrupts binding with ng-model while using <textarea> without the editable class is working. So how to ensure binding with ng-model while keeping the class editable?

[2015-07-23 21:19] nmielnik commented on #739
The first thing I can tell you is that the `medium-editor-textarea` class is not needed for MediumEditor to work.  You don't even need the `editable` class on your `<textarea>` as you can pass in any kind of selector to MediumEditor (ie id, data-attribute, etc.).  You can also just pass the element itself in when you create the instance of MediumEditor.  So, neither of those classes are needed to

[2015-07-23 21:29] nmielnik commented on #70
This has also been talked about in other issues, such as #34 and #251

[2015-07-24 02:17] seminice opened #742 "Trigger manually"
Hi, Is it possible to trigger editing mode manually, a more like a click to edit style?

[2015-07-24 07:32] daviferreira commented on #728
https://github.com/yabwe/medium-editor-tables/commit/da46c9f193ce3ac07ce622c75e25f580b1bd2b0e

[2015-07-24 07:46] daviferreira commented on #728
You can do something like:

[code]

No sure about to do with aria, name and attrs, because then we will end up rewriting the button method on the extension. What do you say, @nmielnik?

[2015-07-24 07:55] alchemistgo87 commented on #739
Tried all the methods, even added an on ng-repeat render finish event.  But still binding is disrupted.  Not able to find out the solution.

[2015-07-24 14:59] nmielnik commented on #742
You can use the `.selectElement()` method on the editor to cause some text to be selected, and the toolbar to be shown.

`selectElement()` takes in the element you want to be selected, so you can pass in a text node or something from within the editor, or you could just pass the whole editor element itself:

[code]

If you have empty content, you won't be able to get the toolbar to be displayed (u

[2015-07-24 15:01] scripting commented on #737
Thank you all for the help earlier this week. I've been able to complete the project, knock wood, and it's now released.

http://myword.io/editor/

Here's a document produced by MWE.

http://myword.io/users/davewiner/essays/045.html

It includes an introduction for the people in the medium-editor community.

Thanks again! :-)

[2015-07-24 15:02] daviferreira commented on #737
Awesome stuff :+1:

[2015-07-24 15:09] nmielnik commented on #737
Congrats on the project, and thanks for the kind words @scripting !  Hopefully we can keep the editor evolving and active!

[2015-07-24 15:12] scripting commented on #737
Nate it looks really good. The most important part was there were people here, answering questions and improving the product.

Hopefully we can move this stuff into all the nooks and crannies it belongs in. ;-)

[2015-07-25 21:03] nmielnik commented on #149
As reported by @yoshokatana in #34

[code]

[2015-07-25 21:09] nmielnik commented on #368
This is the same issue as #259

[2015-07-25 21:09] #368 closed

[2015-07-25 21:10] nmielnik commented on #704
This is a duplicate of #70 so closing this issue and linking

[2015-07-25 21:10] #704 closed

[2015-07-25 21:11] nmielnik commented on #195
This should get fixed whenever #70 is resolved

[2015-07-25 21:11] #195 closed

[2015-07-25 21:12] #705 closed

[2015-07-25 21:13] #731 closed

[2015-07-25 21:22] nmielnik commented on #291
Anyone know if this is still an issue?

[2015-07-25 21:28] nmielnik commented on #211
I believe this has been fixed, please comment if this is still an issue and we will re-open this.

[2015-07-25 21:28] #211 closed

[2015-07-25 21:30] #212 closed

[2015-07-25 21:32] nmielnik commented on #207
Seems like a feature to allow for custom html insertion when double-return occurs could be something to consider if we implement a fix for #70

[2015-07-25 21:36] #737 closed

[2015-07-26 15:15] dominicwong617 commented on #730
@nmielnik so I guess it might not be useful to be added to the library?

[2015-07-26 15:31] nmielnik commented on #730
Sorry @dominicwong617 I had some comments I forgot to add to you gist, I'll add those now.

I closed the issue because I don't think there's a big need to add in the extra code, at least it's not something that needed to be tracked by an issue.

I'm on the fence about adding code that won't get exercised by any of our flows, we removed a bunch of code like this before the v5.0.0 release.  I do how

[2015-07-26 15:38] dominicwong617 commented on #730
@nmielnik No problem. I appreciate you getting back to me.

I need these because I am working on an application that requires multiple medium editors in the same page. It's a note with an unordered list of 'blocks'. Each block is an editor. For example, if the cursor is in the beginning of one block and the user presses backspace, the block is removed and the content is appended to the previous bl

[2015-07-26 15:42] nmielnik commented on #730
Ah, ok thanks, that makes a lot of sense.

Definitely don't hesitate to share out a reference to your app if you're comfortable, we would love to compile a list of applications that are using MediumEditor so whenever we make our fancy landing page we can add links to everyone!

[2015-07-26 15:44] dominicwong617 commented on #730
@nmielnik cool! I will send you the link after we launch. Thank you!

[2015-07-26 16:50] daviferreira commented on #730
Hey @dominicwong617 why not make an extension out of it?

[2015-07-26 19:22] scripting opened #743 "Hello World example for medium-editor"
When I was beginning work on medium-editor, I wished there was a simple Hello World app, that showed the basics of how to get an editor going.

Before I move on to other projects I wanted to put a little time into creating such an app. It might help other people in the future.

https://gist.github.com/scripting/fef457e14000b45e75f8

Also if people more experienced with medium-editor see ways to im

[2015-07-27 08:23] MartyIX opened #745 ""Editor.isReady" event"
Hi,

is there an event indicating that the editor was fully initialized?

Thanks

[2015-07-27 11:21] j0k3r commented on #745
As far as I know, there is now event like that.
Why do you need this ? In fact, I understand why, I just want to know your use case :)

[2015-07-27 11:29] j0k3r commented on #743
We usually use the demo page for that: https://yabwe.github.io/medium-editor/
It shows a simple editor using all default options. It's a good starting point for your test.

Also, if you clone the repo, there are more complex examples in the [demo folder](https://github.com/yabwe/medium-editor/tree/master/demo) which are really great to understand some options.

Your *hello-world* uses jQuery, we t

[2015-07-27 11:29] #743 closed

[2015-07-27 11:55] MartyIX commented on #745
I have a modified editor (CSS) so that the toolbar is supposed to be visible all time. However, I would like to display it after all extensions are loaded.

[2015-07-27 11:56] scripting commented on #743
Thanks for the quick and excellent feedback.

First, I could easily remove the jquery code, if you all think it's
important.

The problem with the previous example code is that I didn't see clearly how
to assign the text to to editor initially. I didn't see anything in the api
that did that, and it isn't something that the canonical example does.

 I almost didn't use this editor because of that s

[2015-07-27 12:02] j0k3r commented on #743
I understand there were no easy way to override the content of the editor programmatically.
But since a week there is now a `setContent` available (see #736)!

[2015-07-27 13:12] scripting commented on #743
Very interesting! :-)

The reason this is such an important block is that it comes as you're getting started. When the whole thing is the most confusing, and when figuring out where to start is your first and really only problem.

I find that many open source projects (including some of my own) fall down on this, failing to empathize with the first steps of a developer who is unfamiliar with the p

[2015-07-27 13:14] scripting commented on #743
Here's the blog post I wrote in March re the survey I did of Medium-like editors.

http://scripting.com/2015/03/20/beautifulJavascriptEditors.html

[2015-07-27 13:25] nmielnik commented on #745
The toolbar is always the last of the extensions to be initialized, this is enforced in the code, so when the `init()` method runs for the toolbar it's safe to assume all the other extensions have been initialized.

However, if you're looking for a time when you can update your CSS externally, you can just do this immediately after your instantiate MediumEditor.  After the MediumEditor constructor

[2015-07-27 17:25] yoshokatana commented on #149
By the by, if I have `forcePlainText: true`, it doesn't add the extraneous `<p>` tags, so at least that's working. :-)

[2015-07-28 00:55] nmielnik commented on #728
Thanks to @daviferreira now you can override the button labels the same way you would override them for MediumEditor default buttons:

[code]

[2015-07-28 00:55] #728 closed

[2015-07-28 04:58] nmielnik commented on #738
@l2aelba I've updated your jsfiddle to include the latest version of MediumEditor: http://jsfiddle.net/8jrod5c9/3/ a long with a few minor tweaks.

1. The issue where the checkboxes are showing up looking terrible in the toolbar has been fixed as of https://github.com/yabwe/medium-editor/commit/d40c6ed9bdb55df9b1ca9e9344d95008f1d121f0 and was released in version 5.5.1
1. I've opened #747 to make s

[2015-07-28 07:20] l2aelba commented on #738
@nmielnik Thanks , i tested https://github.com/yabwe/medium-editor/pull/747

Checkboxes (checked, unchecked) are work.

Now just about addling 2nd link (class/link) left :D

[2015-07-28 11:33] juriansluiman commented on #185
Experiencing same issue with `<pre>` tags.

@hellogerard how can I add a data-disable-return property when using pre? I noticed the button triggers the action [append-pre](https://github.com/yabwe/medium-editor/blob/f28ce4c3f82a293c6b61411a07cadd4df50ebe86/src/js/defaults/buttons.js#L192) which apparently triggers a execFormatBlock in [core](https://github.com/yabwe/medium-editor/blob/de369ca6bfc2

[2015-07-28 13:53] nmielnik commented on #185
In `execFormatBlock()` we'll eventually call `doc.execCommand('formatBlock', false, tagName)`, and if the `tagName` is `'pre'` (or `'<pre>'` for IE) that will create/remove the `<pre>` tag.

If you wanted to do something to the tag after it's created, you would want to detect that you're attempting to create/remove a `<pre>` element inside of `execFormatBlock()`, and then after calling `document.e

[2015-07-28 13:54] mrdoinel commented on #546
+1 I got the same issue

[2015-07-28 13:58] hellogerard commented on #185
@juriansluiman I don't know how you would add block-level attributes to medium-editor. It's probably not completely trivial.

Update on my project: Medium-editor 1.0 improved the behavior of preformatted blocks a lot, I believe. However, hard <kbd>Enter</kbd> still creates a new paragraph and leaves the preformatted block. I am okay with this behavoir. As long as the user knows it, it works consis

[2015-07-28 14:52] dominicwong617 commented on #730
@daviferreira It sounds like a good idea. Thanks!

[2015-07-28 14:56] wallylawless opened #748 "Pasting into Medium-Editor in IE removes the editor element from the DOM and replaces it with a text node"
If I open the Medium-Editor demo here: https://yabwe.github.io/medium-editor/ in IE11 and clear it's contents before pasting in text, the Medium-Editor itself is removed from the DOM and no longer available.

For example, say this is the HTML for my editor:
[code]

and Medium-Editor is initialized:
[code]

This causes my HTML above to be slightly modified like this:
[code]

However, if I now selec

[2015-07-28 15:09] erickbelfy commented on #354
Hi guys, i grab this error again when i try to use `orderedlist` and also `unordered` list buttons using firefox

[2015-07-28 15:11] erickbelfy opened #749 "NS_ERROR_FAILURE Firefox"
Following #354 i can't use `orderedlist` and `unorderedlist` list using firefox. Using minified version the error raises on line 5706 `return this.options.ownerDocument.execCommand(action, false, null);`

[2015-07-28 16:35] nmielnik commented on #185
In order for this to work with v5.0.0 you would need to subscribe to the `showToolbar` event since the `onShowToolbar` option is no longer supported as of v5.0.0.  Also, the reference to `editor.toolbar` has also been removed, you have to use `.getExtensionByName('toolbar')` now to retrieve the toolbar:

[code]

[2015-07-28 17:52] daviferreira commented on #749
Could you provide a fiddle? Can't reproduce it.

[2015-07-28 19:53] j0k3r commented on #748
I've tested on IE9 and didn't got the problem (ie: the contenteditable now is still here after removing everything). I need to test on IE11 now..

*I'm downloading the ModernIE VM with IE11 :)*

[2015-07-28 20:25] kostia opened #750 "Canceling anchor form breaks selection"
Hello,

I recently discovered a bug making the editor incorrectly determine the current selection after the anchor form has been canceled.

Version: 5.5.1
How to reproduce:

1. Create an editor with anchor extension enabled and present in the toolbar.
1. Try to edit following peace of HTML: `start text <a href="spam">start link end link</a> end text`.
1. Select `start link end link`.
1. Check `Med

[2015-07-29 07:26] hellocosmin commented on #748
Tested the demo page in IE11 (v11.0.9600.17914) and was not able to reproduce the issue.

I've tried:

- selecting all and deleting with <kbd>Delete</kbd>, then pasting
- selecting all and deleting with <kbd>Backspace</kbd>, then pasting
- selecting all, hitting <kbd>Enter</kbd>, then pasting
- selecting all and pasting directly, without deleting first.

In all tests, the `.editable` element was n

[2015-07-29 07:30] hellocosmin commented on #195
Does it do the same if you set `display: inline-block;` for your `.editable` element?

[2015-07-29 08:47] mrdoinel opened #751 "Editor refuse to create links if there is already a link positioned in the very beginning."
Hello!

The bug can be reproduced here with latest Chrome : https://yabwe.github.io/medium-editor/
Create a link on "My father" and then try to create another one after. It fails and refuse to create new links.

![screen shot 2015-07-29 at 10 42 27](https://cloud.githubusercontent.com/assets/546129/8953437/b90ad7c8-35de-11e5-93a9-518f9cad637f.png)

The script think that there is already a link so

[2015-07-29 12:14] nmielnik commented on #751
This appears to be related to #738, thanks a ton for helping points us in the right direction!

[2015-07-29 13:22] nmielnik commented on #750
@kostia when you select text within a link, and then click the anchor form, it should unlink the text.  So, step 6 in your repro steps should cause the link to first be unlinked, and you would have to click the anchor button again in the toolbar to be able to have the anchor form display in the toolbar.  Are you leaving that part of the repro steps out intentionally?

[2015-07-29 14:01] nmielnik commented on #738
Correct: This will not be fixed by PR #752, but I have found the cause of the issue and I'll work on trying to get the fix in

[2015-07-29 14:08] kostia commented on #750
@nmielnik Kind of...
I faced the bug for the first time in a custom extension, which was simply a copy of the anchor extension, but with lines https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/anchor.js#L66-L68 removed in order to allow URL editing of an existing link without first unlinking it and losing the current URL. Since I would also have to fill the input with the curren

[2015-07-29 15:40] patrick-webs commented on #738
![screen shot 2015-07-29 at 11 38 22 am-fs8](https://cloud.githubusercontent.com/assets/10403580/8962024/767f7c8a-35e6-11e5-9030-106fb9a794f5.png)
we may be able to fix this by just removing the `range.collapse(true);` , but need to check and see if the range will still be collapsed in the cases where this was intended (restoration of a collapsed cursor at the end of a string of empty paragraphs).

[2015-07-29 19:10] erickbelfy commented on #749
This is my markup
[code]

also my configuration

[code]

My firefox version is `39.0` i am also using yosemite OSX

[2015-07-29 19:15] erickbelfy commented on #749
Maybe a point we need to consider is. My initial status of `contenteditable` attribute is `false` instead of `true` i need to toggle that property, using some code. When i focus out of the target area i change `contenteditable=true` to `contenteditable=false` and i think the library are trying to add a new element inside of that markup using `contenteditable=false`

[2015-07-29 22:38] nmielnik commented on #749
so if you are toggling `contenteditable` when the element triggers the 'blur' event, you will definitely run into issues with firefox.  Firefox throws this type of exception whenever you try to call `document.execCommand()` and it thinks the selection or editor is in an invalid state.

Since you're listening to the `blur` event, this event can get triggered whenever you click on the toolbar, since

[2015-07-29 22:42] #742 closed

[2015-07-29 22:57] daviferreira commented on #749
I believe `stringTypes` is a jQuery object and not a DOM element, or am I mistaken?

[2015-07-29 23:33] erickbelfy commented on #749
thanks @nmielnik and @daviferreira the above suggestions makes total sense, i haven't checked at docs that we have support to attach events on medium editor, it really good, helps me a lot! :+1:

Closing.

[2015-07-29 23:33] #749 closed

[2015-07-30 07:10] l2aelba commented on #738
I waiting for marge :D Thanks all guys

[2015-07-30 17:38] wallylawless commented on #748
I've been able to break down my reproduction steps to be more specific. Also, for completeness sake this is being done on Windows 8.1 in IE11(v11.0.9600.17905) which Windows Update seems to tell me is the latest version for this OS.  Is it possible .17914 is the Windows 10 version?

Here is a screenshot of what the DOM around my editor looks like when I'm starting:
![screen shot 2015-07-30 at 1 21

[2015-07-30 18:47] D-side commented on #291
@nmielnik well, **works on Firefox DE**, producing raw cyrillic URLs (not punycode). Since `contenteditable` is not an ancient feature, I assume all supported browsers can handle that just fine.

So either you fixed what was wrong, or Firefox developers have fixed the underlying issue. I'll go find some older versions of Firefox and report my findings.

[2015-07-30 19:04] D-side commented on #291
Tested on Firefox 33, works the fine (with same plain cyrillic characters), and it's not even the latest version.

Apparently this is resolved.

[2015-07-31 12:52] nmielnik commented on #291
@D-side thanks a ton for taking the time to validate that the issue is resolved, we definitely appreciate it!

[2015-07-31 12:52] #291 closed

[2015-07-31 23:10] guneycob opened #754 "Replacing already anchored content's link with a new one creates new element inside of first anchor"
First of all, I'm using medium-editor v5.5.1. When you have an already anchored text in your editable content and you want to change its link via clicking on the tooltip that showing the current link, the editor never deletes or replaces the old anchor but adds new anchor inside of that.

This causes really serious problems when serializing the content or getting the updated content with some othe

[2015-08-02 08:56] #738 closed

[2015-08-02 14:25] #751 closed

[2015-08-02 14:35] #711 closed

[2015-08-03 06:18] Olgagr opened #757 "Buggy restore selection when creating link on first word in paragraph"
Steps to reproduce:

1. Create a new paragraph
2. Select first word in paragraph
3. Create a link
4. this.base.restoreSelection() doesn't restore selection on link correctly (what is visually seen). MediumEditor.selection.getSelectionStart(this.base.options.ownerDocument) returns previous paragraph, not anchor node from current paragraph. It is problematic when you want to apply custom class on li

[2015-08-03 12:16] #754 closed

[2015-08-03 15:42] nmielnik commented on #757
We're working on a fix for this, there should be a PR coming shortly

[2015-08-03 18:56] nmielnik commented on #750
@kostia we have added some fixes around selection when dealing with the anchor form.

Could you verify if your issue still occurs in the most recent code, or in version 5.5.3 (which was just released)?

[2015-08-03 19:09] patrick-webs commented on #732
in firefox a different bug happens, this may be related to the Selection in firefox which is

    Selection { anchorNode: <li>, anchorOffset: 0, focusNode: <li>, focusOffset: 1, isCollapsed: false, rangeCount: 1 }

compared to in Chrome where it's:

	Selection {}
	anchorNode: text
	anchorOffset: 7
	baseNode: text
	baseOffset: 7
	extentNode: text
	extentOffset: 0
	focusNode: text
	focusOffset: 0
	i

[2015-08-04 13:32] Olgagr commented on #757
Hmm, for me this bugfix doesn't work. It causes that the url of the link is prepended into content before the selcted word.
I'm on version 4.12.6. However, this code you corrected seems to be the same in this version.

[2015-08-04 17:00] nmielnik commented on #757
@Olgagr I've updated the running version 4.12.x branch with as many of our fixes as I could easily port over.  As far as I can tell, it seems like the issue is now fixed in version 4.12.7, which has just been published to npm.  Please let us know if the issue is fixed for you there.

As version 5+ continues to diverge from our old 4 branch, less and less bug fixes will be able to be ported back, s

[2015-08-05 09:19] NoelOC commented on #748
I can confirm the same issue.

Win 8 / IE11

Steps to repoduce:
- Select all text in the editor and delete
- Unfocus the editor (this is must)
- Focus the editor and paste the content

Editor is removed and the pasted text is there just as a node.

[2015-08-05 11:07] Olgagr commented on #757
@nmielnik Thanks Guys for help and involvement. Of course I'll update to version 5, but right now I have too many extensions and even a plugin written for version 4, so this is not possible to make a migration.

I checked version 4.12.7 and the situation a little bit improved. So if I have a situation like this:

[empty paragraph]
link_on_first_word_in_paragraph other words in paragraph

this work

[2015-08-05 11:30] Olgagr commented on #757
@nmielnik To be sure that this is not my code issue, I also checked version 5.5.4 from master branch. The above bug still exists also in this version. I test it in Plunker: http://plnkr.co/edit/vMlgGl?p=preview

[2015-08-05 21:26] kostia commented on #750
@nmielnik Unfortunately the problem still exists in `5.5.3` :disappointed:

[2015-08-07 21:49] stevehanson opened #764 "Attributes from the previous paragraph element are copied to new paragraph when pressing return key"
I've noticed that if I have custom attributes on a paragraph tag and I create a new element after it, the attributes are copied over to the new element. Any thoughts on how I could get the editor to just create a blank `<p>` on new paragraphs? This issue isn't happening with headings.

![medium](https://cloud.githubusercontent.com/assets/1691324/9146604/a9faf082-3d23-11e5-9d6d-a37f9622285d.gif)

[2015-08-08 17:43] nmielnik commented on #750
@kostia so this is an issue of restoring selection.  With our current implementation, there isn't a clear way to distinguish between whether we should restore the selection back to the end of the `start text` node, the beginning of the `<a>` tag, or the beginning of the `start link end link` text node.

There is an option you can enable which will give you the behavior you're expecting: [toolbar.s

[2015-08-08 17:43] #750 closed

[2015-08-09 13:26] ebengtso opened #767 "extension: show text proposals as you type"
useful for dictionaries,  enumerations, or catalog. example when you add a comment on github as you type # it proposes a list of issues.

it would be a great feature

[2015-08-09 13:29] ebengtso commented on #194
i'm using the function setContent and it, in my opnion, should call
yourElement.classList.remove('medium-editor-placeholder')

[2015-08-09 15:32] nmielnik commented on #667
@kardazs and update on this issue?

[2015-08-09 15:42] nmielnik commented on #764
I was able to see this in both Chrome and Firefox, I'm not sure if it happens in other browsers.

So from what I can tell, it looks like the browser is cloning the attributes on the element each time to you hit enter.  I'm guessing this is useful so that if you have some special styling on a `<p>` (class, style, etc.) that hitting enter will make the next paragraph have the same styles.

Since the

[2015-08-09 15:45] stevehanson commented on #764
Thanks for the direction, @nmielnik. I'll give the options you recommended a go.

[2015-08-10 09:46] kostia commented on #750
@nmielnik Thanks a lot, it works!

[2015-08-10 13:43] ssidorchick commented on #301
![2015-08-10_1625](https://cloud.githubusercontent.com/assets/4922790/9172479/7ff18b38-3f7c-11e5-9d74-4f98b063fac9.png)

Was able to reproduce this on the demo page. I'm not sure, but from the first sight it's not the expected behavior.

[2015-08-10 13:47] nmielnik commented on #194
@ebengtso would you open an issue about this?

I agree that setting the content should trigger the placeholder to go away, but we'll have to think a bit about the way to implement it.  We wouldn't want the `setContent` method to remove the placeholder attribute directly, since the placeholder logic is in it's own extension and we want to make sure we keep separation of concerns.  We'll just need t

[2015-08-10 14:00] j0k3r commented on #301
@ssidorchick using the same way to reproduce @caxopog described? Which browser, which OS?

[2015-08-10 14:03] ebengtso opened #768 "remove the placeholder from UI when setting the content throught setContent method"
i'm using the function setContent and it, in my opinion, should call
yourElement.classList.remove('medium-editor-placeholder')

@nmielnik

suggestion capture an event on setContent

[2015-08-10 14:11] ssidorchick commented on #301
Yes, the same way. Chrome 44.0.2403.130. OS X 10.9.5

[2015-08-10 20:59] #757 closed

[2015-08-10 21:15] #732 closed

[2015-08-10 21:29] nmielnik commented on #732
This fix for this should be available in v5.6.1

[2015-08-10 21:29] nmielnik commented on #757
The fix for this should be in version 5.6.1 and 4.12.8

[2015-08-10 21:30] sebastiannm commented on #732
Thank you for the good work

[2015-08-10 21:46] nmielnik opened #771 "Microsoft Edge Support"
We need to:

- [x] Fix tests which are broken in Microsoft Edge browser on Windows 10 (~48 failures as of now)
- [x] Sanity check to make sure things look fine and working as expected in Edge
- [x] Add IE 11 + Windows 10 support into our SauceLabs test runs (Edge isn't supported yet)
- [x] Updated our list of supported browsers (if there's anywhere where we call this out)

#955 includes all the wo

[2015-08-11 04:43] j0k3r commented on #771
Is there any way to do 3. stuff in SauceLabs in a way that it doesn't mark the test as fail in case of failing test on Edge ? I don't know enough SauceLabs but with Travis you can define some case where you allow test to fail ([see here](http://docs.travis-ci.com/user/customizing-the-build/#Rows-that-are-Allowed-to-Fail)).

[2015-08-11 06:11] nmielnik commented on #771
I don't think there is a way with our current setup, but I'm not completely sure.  Looking through SauceLabs, it looks like they don't support Microsoft Edge yet, but they have lots of Windows 10 combinations so we might want to just start running the tests in Chrome, Firefox, and IE11 on Windows 10 to start with.

[2015-08-11 13:43] Olgagr commented on #757
@nmielnik I can confirm it works for 4.12.8. Thank you!

[2015-08-11 14:52] nmielnik commented on #757
Thanks a ton for opening the issue! Apparently these issues have been around for a while and we hadn't know about them.

[2015-08-11 20:14] j0k3r opened #773 "MediumEditor global variable"
_From @gerherz on July 27, 2015 21:57_

Since v0.4.0, MediumEditor is needed as a global variable. I'm instanciating the editor inside another object, making the variable local to that object and unavailable globally.
Shouldn't MediumEditor be imported from its peer dependency so as not to depend from global variables?

[code]

_Copied from original issue: yabwe/medium-editor-tables#14_

[2015-08-11 20:14] j0k3r commented on #773
_From @ebengtso on August 9, 2015 11:41_

I was about to ask the same feature, so MediumEditor should support require?

I'm able to use it with dojo, but I'm having a problem to load extensions because they rely on global variable

[2015-08-11 21:58] jakerichan opened #774 "Anchor preview tooltip top position is consistently 140px over what it should be"
![screen shot 2015-08-11 at 3 52 15 pm](https://cloud.githubusercontent.com/assets/991316/9211714/2741769a-4041-11e5-869a-2934eb7b19db.png)

My toolbar diffTop setting is set to -80. When using the default skin, this puts the toolbar directly above my selection.

[2015-08-11 22:43] jakerichan commented on #774
I'm not ruling out something on my page, but I haven't been able to find anything.

[2015-08-12 13:55] j0k3r commented on #642
@oznek Could you check again with the last release (5.6.2) ? We've fixed few things related to pastes html.

[2015-08-12 13:58] j0k3r commented on #546
@mrdoinel Can you provide us a doc from Word so we can try to reproduce the problem?

[2015-08-12 13:58] nmielnik opened #776 "Remove references to global variables from extensions"
Currently our built-in extensions reference global vars that only internal parts of MediumEditor have access to (ie `Util` or `Selection`).

We can explore dependency injection approaches later, but for now we should at least update all of these references to refer to `MediumEditor.util`, `MediumEditor.selection`, etc.  This will allow the extensions to be extended upon without issue of bad refere

[2015-08-12 16:19] sebastiannm commented on #543
+1

[2015-08-12 16:45] jakerichan commented on #774
Sorry, we had a problem on our end.

[2015-08-12 16:45] #774 closed

[2015-08-12 17:23] nmielnik commented on #774
ok, thanks for opening the issue and don't hesitate to bring up any other issues you might be seeing!

[2015-08-12 20:05] scripting opened #777 "ProseMirror and the contenteditable community"
I came across the ProseMirror project earlier today, and realized there's a contenteditable community that isn't communicating and might be duplicating work. So I wrote a blog post, hoping to gather more pointers, and be able to compare projects. Here's the post.

http://scripting.com/2015/08/12/theresAContenteditableCommunity.html

I'm going to close this "issue" right away. But I wanted to make

[2015-08-12 20:05] #777 closed

[2015-08-12 21:46] nmielnik commented on #777
Thank @scripting !

[2015-08-12 22:28] sedletsky commented on #195
@hellocosmin yes

[2015-08-12 22:46] sedletsky commented on #70
I'm trying to implement Medium editor behavior: I need to insert line break (<br>) on Shift+Enter and clone paragraph (<p>) on Enter. I have editable section with paragraphs. I wrote these code:

var e = new MediumEditor("[contenteditable=true]")
e.subscribe("editableKeydownEnter", function (event, element) {
    if (event.shiftKey) {
        event.preventDefault()
        var node = MediumEditor.

[2015-08-13 04:22] nmielnik commented on #70
@sedletsky can you verify that this wasn't the default behavior that browsers implemented?

As far as I've seen and heard, when you hit <kbd>ENTER</kbd> inside a `contenteditable` element, the browsers inserted new `<p>` elements, and when you hit <kbd>SHIFT</kbd> + <kbd>ENTER</kbd> it would insert a `<br/>`.  Based on that, it doesn't seem like you would need to add any functionality.

[2015-08-13 12:50] byCedric commented on #543
Any plans, hopes or payers on a "when-css-collides-f**k-it-and-remove-the-span"-option? I would really like this...

[2015-08-13 19:43] alpeshgaglani opened #779 "Dynamically add new elements to the editor after init"
Hi,
I have a requirement that necessitates adding new elements to DOM, and I'm trying to figure out how to make the editor aware that it has to start monitoring the newly added element.
Up until a couple versions ago, the following used to work:
[code]

However, with the latest version, the destroy function *replaces* the html in order to fix a bug with spell-check. This causes all of my own event

[2015-08-13 20:13] nmielnik commented on #779
So, there would need to be a large amount of work in order to expose a method for adding additional elements on the fly.  This is particularly challenging since the extensions will also care about another element being added in, and would thus have to also implement functionality for handling new elements being added.

So, I'm assuming you have the `spellCheck` option set to `true`?  Besides setti

[2015-08-13 21:59] alpeshgaglani commented on #779
For now, spellcheck:false fixes my issue. However, I do want spell check feature. Your suggestion sounds like it would work (i.e. expose an option to not clobber innerHTML)

[2015-08-14 07:26] maciekmp opened #781 "Editing text in inline element with href="#" make text disappear"
jsfiddle: http://jsfiddle.net/65d6duwc/

To recreate: select all text in button and try to add new one.

[2015-08-14 07:33] j0k3r commented on #781
Wow interesting.
On a side node I don't think a `<p>` is allowed inside a `<a>`.

[2015-08-14 07:36] maciekmp commented on #781
You are right but we need to allow our users to edit content of button links. Do you know if we can replace p tag with span for example?

[2015-08-14 13:09] nmielnik commented on #781
So to create editable buttons at my org, we do this:

[code]

[code]

Having a `<div>` inside the anchor which is actually editable has allowed things to work as expected. Can you give that a shot?

[2015-08-17 02:11] #776 closed

[2015-08-17 06:54] sathyanpry commented on #667
I too face the same issue. Any one have any solution to this issue?? I am using FF 34.0.

    the toolbar appears
    it is detecting that the selected text already has formating (eg. bold or italic)
    the anchor popup appears if I clicking on the toolbar

But no format applied on the text.

Any ideas whats happening here..

[2015-08-17 14:19] epascarello opened #783 "Static Toolbar - Click Button - Placeholder still visible with content insertion"
I am thinking this is related to issue #194

When I click an h1 button in the static toolbar it adds content to the editor. The problem is the placeholder text is still visible until you type. The screenshot shots the blinking cursor and the custom placeholder text.

![screen shot 2015-08-17 at 10 17 16 am](https://cloud.githubusercontent.com/assets/773311/9306898/385ce252-44c9-11e5-9df8-962598e53

[2015-08-18 03:04] nmielnik commented on #779
Would you be interested in adding in the option to make sure it fixes your case?

[2015-08-18 07:14] #748 closed

[2015-08-18 19:39] nmielnik commented on #748
@NoelOC @wallylawless the fix for this should be in version 5.6.3, let us know if there are any issues and thanks a ton for reporting this!

[2015-08-18 19:58] alpeshgaglani commented on #779
I have a deadline coming up this week, but I can get to it by EOW?

[2015-08-18 20:00] nmielnik commented on #779
yeah sure, no rush :wink: I look forward to the PR!

[2015-08-19 20:45] yoshokatana commented on #434
My coworker and I wrote a little library that handles a few use cases (splitting and merging tags, changing certain tags to other tags, etc). We're using it as our text model, and hooking it up to the `medium-editor` paste/etc events. [It's on npm if you want to check it out!](https://www.npmjs.com/package/text-model)

[2015-08-19 23:54] nmielnik commented on #194
For those of you who are manually setting `innerHTML` on the editor element, you should instead use the [setContent(html, index)](https://github.com/yabwe/medium-editor/blob/master/API.md#setcontenthtml-index) method of the editor itself:

[code]

A fix is coming which will ensure the placeholder is hidden when calling `setContent()` so the issue will ultimately be resolved.  Closing this issue as

[2015-08-19 23:54] #194 closed

[2015-08-20 11:13] cristianst commented on #717
I have a little hack for that :)

[2015-08-20 13:36] nmielnik commented on #783
Thanks for opening this, a fix is coming via #787

[2015-08-21 04:50] #745 closed

[2015-08-21 04:51] #501 closed

[2015-08-21 15:41] #768 closed

[2015-08-21 15:41] #783 closed

[2015-08-21 15:51] nmielnik commented on #768
The fix for this is now available in version 5.7.0.  Thanks for opening the issue!

[2015-08-21 15:52] nmielnik commented on #783
Fix is available via version 5.7.0

[2015-08-21 22:10] nkalush opened #788 "Return key doesn't work at the end of an area with bad formatting"
So I have some content that was imported from an older cms and it's got some br tags and paragraphs that aren't wrapped in p tags, nothing too terrible, but it breaks medium-editor when the `disableDoubleReturn` flag is true.

Here is an example, if you try to add a new line after the last paragraph it doesn't work:
http://jsfiddle.net/8o7coLkq/

[2015-08-22 09:18] arekkas opened #789 "Drag text around"
In all the demos I tried it is not possible to select text and drag it to a different position. What happens is, that the background of the drop zone is greyed out but if you drop it nothing changes.

[2015-08-22 23:43] nmielnik commented on #789
@arekkas can you try initializing medium-editor with the `fileDragging` option set to false?

`new MediumEditor('.editable', { fileDragging: false });`

[2015-08-23 10:38] niftykins opened #790 "Auto Link creates links with parts of different <li> tags"
I've found if you have an `li` that ends in `.`, and the next `li` starts with a TLD, then auto link creates a link with the end of the first tag, and the start of the second.

[Codepen](http://codepen.io/anon/pen/LVwYXO) to illustrate the issue.

[2015-08-23 11:37] arekkas commented on #789
Does not seem to work or maybe I'm doing something wrong: http://jsfiddle.net/a22ge8mf/

[2015-08-23 19:49] arekkas opened #791 "Chrome: nested contenteditables prevent strg+a selection"
Whilst selecting stuff with shift + arrows or with shift + mouse works fine, selecting everything (strg+a) does not seem to work in chrome:

http://jsfiddle.net/fesa1x4z/2/

[2015-08-23 20:00] j0k3r commented on #791
What is _strg_ ?

[2015-08-23 20:00] arekkas commented on #791
sorry, ctrl :)

[2015-08-23 20:02] arekkas commented on #791
This seems to be an issue with contenteditable itself in chrome but it looks like the guys at medium.com solved this one even for chrome.

[2015-08-23 20:03] j0k3r commented on #791
Could you confirm that the bug is just Chrome related? Not Firefox, Safari or IE?

[2015-08-23 20:04] arekkas commented on #791
Oh okay this seems to be caused when the content**un**editable is the last element. If something follows, this issue does not appear. See [this example](http://jsfiddle.net/fesa1x4z/4/)

Yup, for now it's only Chrome. Firefox and IE work fine (don't know about Opera/Safari)

[2015-08-23 20:07] arekkas commented on #791
It seems like medium.com "solves" this by always having an (empty) paragraph as a last child. This works fine in chrome - see [this example](http://jsfiddle.net/fesa1x4z/5/)

[2015-08-25 21:36] gerherz opened #793 "element.nodeName is undefined in restoreSelection()"
I'm using a custom plugin based on some available examples (font color). When I call this.base.restoreSelection(), I'm getting element.nodeName is undefined in util.js, line 781:

[code]

This is the line that breaks:

[code]

[2015-08-25 21:54] setvik opened #794 "m"

[2015-08-26 00:19] #793 closed

[2015-08-26 05:13] #794 closed

[2015-08-26 09:28] gianmarcotoso commented on #383
I've noticed that when the editor is hidden/destroyed, a subsequent call to .setup() doesn't reinitialize it properly: the attributes are not placed back on the editor's div and the events are not fired anymore.

I'm using React 0.13.3 w/ Browserify.

[2015-08-26 11:01] j0k3r commented on #383
@gianmarcotoso and which version of MediumEditor are you using? On which browser did you get this behavior? Could you provide a jsfiddle to reproduce the bug? Thanks.

[2015-08-27 00:11] kacperkrawczyk commented on #543
+1

[2015-08-27 09:17] gianmarcotoso commented on #383
I'm using version 5.7.0. Actually, I managed to make it work ([fiddle](http://jsfiddle.net/e8pfefkz/1/)) but I have to manually rebind events after destroying and re-initing the editor. Doing destroy+setup doesn't work, as both events and attributes are lost (just replace the init+subscribe calls with a setup call in the `componentDidUpdate` method in the fiddle).

[2015-08-28 00:27] evgeniypetrov commented on #642
@j0k3r not working.  filterCommonBlocks still clean up  divs with only images inside. ( textContent or innerText returns empty string ).

[2015-08-28 14:10] wallylawless commented on #764
@stevehanson did you end up having any luck with this? I'm looking to do something similar.

[2015-08-28 16:44] stevehanson commented on #764
@wallylawless no, I ended up just changing how I was doing things so that I didn't need to use the attributes on the top-level tags. I didn't spend too much more time trying to get it to work though, so that doesn't mean @nmielnik's suggestions wouldn't have worked.

[2015-08-28 20:24] ebengtso commented on #767
I would like to try to implement this as extension. do you have any suggestion where to start? some samples?

Thanks

[2015-08-28 21:57] nmielnik commented on #767
* Extension Documentation: https://github.com/yabwe/medium-editor/tree/master/src/js/extensions
* Sample Extension Tutorial: https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/WALKTHROUGH-EXTENSION.md

So if you build a custom extension, you can attach to `ediableKeyup` and detect if the user hit <kbd>SHIFT</kbd> + <kbd>3</kbd>, or you could attach to `editableKeypress` and see i

[2015-08-29 10:20] ebengtso commented on #767
Here is my code, it works in safari, chrome and firefox.

some important notes:
- firefox provides caret position, even if there is no selected text, this is not the case for safari and chrome. the solution is to select one character to get caret position, and deselect it . getPositionToolbar
- my code is using dojo, dstorejs and bootstrap, as you can read

it's missing for me, to replace the text

[2015-08-29 15:45] marvwhere commented on #499
+1 (is there any progress on this?)

[2015-08-29 21:14] sobanhameed opened #795 "Have H1 or bold pressed by default"
I am assuming there is an easy answer to this. I have looked the documentation but havent found the answer. Is there a way to have some of the toolbar buttons pressed by default? I would like to implement edit on a heading and when empty apply h1, h2 or h3 on it.

Appreciate the help.

[2015-08-30 08:35] waywaaard commented on #145
This should be fixed, lists may not appear inside of paragraphs. See http://www.w3.org/TR/html5/grouping-content.html#the-ol-element

[2015-08-30 14:02] csarven opened #797 "Context-aware toolbar"
Is there a way to trigger/display the contents of a toolbar based on context? For instance, a way to show/hide certain buttons depending on the user selection or where the caret happens to be in the document.

This is related to #668 but as a general-purpose feature for working with the toolbar.

[2015-08-30 14:04] nmielnik commented on #795
Have you tried starting with a `<h1>`, `<h2>`, etc. tag in the initial content?

[code]

You can always set the initial content via the [`setContent()`](https://github.com/yabwe/medium-editor/blob/master/API.md#setcontenthtml-index) method.

Similar for bold, you might try starting with the initial content wrapped in a `<b>` or `<strong>` tag.

[2015-08-30 14:05] nmielnik commented on #797
Have you tried the [`checkSelection()`](https://github.com/yabwe/medium-editor/blob/master/API.md#checkselection) method on the editor?

[2015-08-30 14:07] nmielnik commented on #767
This looks great, thanks for sharing the code!

Any interest in starting a repo with this so we can link to it from the site?

[2015-08-30 14:15] #767 closed

[2015-08-30 14:25] nmielnik commented on #499
Looks like you made some good progress on this yourself :wink:

[2015-08-30 14:26] nmielnik commented on #499
I think we have a workable solution via #796 , which as been merged to master. Closing this issue for now.

[2015-08-30 14:26] #499 closed

[2015-08-30 14:30] csarven commented on #797
As I understand `checkSelection()` it appears to be rather primitive to what I'm thinking since it only deals with the state of the button. However, I can see that it would be a good reason to override that method.

An example: Given `<h2>foo</h2>` where the user selects the text 'foo', the toolbar shouldn't pop-up with a `b`/`strong` buttons since adding them inside h2 would be meaningless -  thi

[2015-08-30 14:32] nmielnik commented on #767
Also, @ebengtso , we have a bunch of helper methods for dealing with selection, which are accessible via `MediumEditor.selection`.

Unfortunately this is not yet documented, and we would likely want to do some tweaks to it before we made it extensively documented (there's a bit of duplication throughout).  You can find the code in [selection.js](https://github.com/yabwe/medium-editor/blob/master/s

[2015-08-30 14:37] nmielnik commented on #797
Ah, I think something like what @phiggins42 suggested in #668 is what you're looking for.  Right now, there isn't any support for adding/remove buttons from the toolbar based on what type of element is currently selected.  This could be implemented as custom extension similar to the code he shared though.

[2015-08-30 15:20] csarven commented on #207
What I'm experiencing in Ubuntu Firefox 40 and Chromium 44,  where disableDoubleReturn is set to false, and double return is pressed somewhere inside a paragraph other than at the end of the paragraph:
[code]
becomes
[code]

I think the expected behaviour should be the same as if the caret is at the end of the line i.e., allow only a single return which results in:
[code]

[2015-08-31 15:43] wallylawless commented on #748
Worked like a charm, hopefully next time I can contribute with some code.

[2015-08-31 17:06] sobanhameed commented on #795
I was just adding <h1></h1> earlier and it wasnt working. Adding br helped. Any ideas on why its needed?

Thanks,

[2015-09-01 09:22] #795 closed

[2015-09-01 12:23] nmielnik commented on #795
If the text is empty, you need a `<br />` so that there is some kind of inline content to click into.  Otherwise the the contenteditable `<div>` would be empty, and have no height, so you wouldn't be able to get focus into it.  That's my understanding at least.

[2015-09-01 12:56] nmielnik commented on #748
And if you're looking for some simple ways to contribute, feel free to look at some of the [Easy First Bugs](https://github.com/yabwe/medium-editor/issues?q=is%3Aopen+is%3Aissue+label%3A%22easy+first+bug%22).  I haven't looked much at them recently, but some of them should be low barrier for entry (hopefully) :wink:

[2015-09-01 16:07] JeanCarriere opened #800 "Autolink and modifying content"
If I type in a url (like http://www.google.co), then it gets autolinked.
If then I modify my text (like http://www.google.com), then I get the url http//www.google.com with the href http://www.google.co
If it's an auto-link and the content does not match the href, the href should be modified.

[2015-09-03 11:36] csarven opened #802 "Keyboard command shortcuts should first check button extensions"
If an existing `KeyboardCommands` command key e.g., `B` (for bolding), is overridden when the editor is initialized, e.g:
[code]

it should first check to see if there is a button extension set with the same action value, i.e., `strong`. If it exists, it should trigger that before leaving it to `execAction`.

This is based on the use case where `<strong>` is used instead of `<b>`.

[2015-09-03 21:19] jakerichan commented on #543
+1 on the do not span option

[2015-09-03 22:32] nmielnik commented on #802
So the 'command' property that you're passing in to keyboard commands is just the value for the argument that's passed to `execAction(command)`.  So, all the possible buttons exist for medium-editor can be mapped to keyboard commands via this mechanism (`bold`, `indent`, `outdent`, `justifyCenter`, `removeFormat`, etc.).  You can see all of these buttons in [buttons.js](https://github.com/yabwe/me

[2015-09-03 22:32] #802 closed

[2015-09-03 22:46] csarven commented on #802
I was under the impression that the keyboard commands are what could be set for any keyboard shortcut for some action, and not necessarily have any dependency on execAction. Is there a particular reason why a keyboard command should only trigger a built-in command?

I am extending the buttons so that I actually use `<strong>` in place of `<b>` across browsers. Putting more emphasis on the semantic

[2015-09-03 22:54] nmielnik commented on #802
So the built-in keyboard commands is currently optimized to allow for mapping any set of keyboard shortcuts to any of the existing actions you can have in medium-editor.  It's just a convenience extension, but you can definitely turn it off or make sure it doesn't do anything whenever keys are pressed.

If you want to develop your own custom action or custom keyboard shortcut, you could add your o

[2015-09-04 07:41] l2aelba opened #803 "Changing link on images doesn't work"
![zdvyj1ivrh](https://cloud.githubusercontent.com/assets/983458/9678791/134b7b12-52e9-11e5-8251-f0046b328e69.gif)

I dont know what happen

Demo : http://jsfiddle.net/ucdp9cqo/

[2015-09-04 07:49] l2aelba commented on #803
+ On normal text too

[2015-09-04 07:57] j0k3r commented on #803
I guess we check that the `a` node contains text and then update the link. If you add some text inside the link and then update the link you'll get that (the default link was `google.com` and I updated it to `google.fr`):

Before:

[code]

After:

[code]

[2015-09-04 08:02] l2aelba commented on #803
@j0k3r  No problem, i hope this can be fixed ASAP :D Please + Thanks

[2015-09-04 15:07] Pajamaman commented on #499
@marvwhere nice!

[2015-09-07 04:31] chisleu opened #804 "Server side validation"
This is some amazing software. I read through the README, but I might have missed it.

Is there a mechanism for server side validation using the same medium.js configuration that the client uses to display options in the media editing box?

It is important to verify that the user isn't submitting dangerous things like script tags, but it would be nice if I could load the supplied value back into m

[2015-09-07 07:07] j0k3r commented on #804
Which kind of server side validation do you want? js, php, ruby..?

[2015-09-08 04:17] chisleu commented on #804
JS. I thought there might have been an integrated js validator.

[2015-09-09 02:36] sqzr1 opened #805 "Support for font type/family?"
Medium editor is a great alternative to the regular editors out there. Are there any plugins/addons for changing the Font-Family of an element? Ie, like the Font-Size addon?

[2015-09-09 05:50] j0k3r commented on #805
Nope, there is no such extension at the moment.
But feel free to provide this one ! You can take inspiration from fontSize extension and stuff in the wiki

[2015-09-09 06:53] l2aelba commented on #803
Any fix ?

[2015-09-09 06:56] j0k3r commented on #803
@l2aelba not yet, but if you have time to find a way to fix this bug, you're welcome!

[2015-09-09 07:23] xr opened #806 "why the editor will jump to the second line when start typing?"
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/6114473/9755678/964a2698-56dc-11e5-9c5a-1587cce82f00.gif)
why the cursor jumping? and can not reach the first line, i checkout the DOM, also left a "" at the end of the div

thanks.

[2015-09-09 07:26] xr commented on #806
OK, i got it, it's the style issue, the default margin is 1em, if you change to 0, then it's fine

[2015-09-09 07:26] #806 closed

[2015-09-09 10:29] l2aelba commented on #803
@j0k3r  thanks :D

[2015-09-10 16:06] davidhellmann opened #807 "Medium Editor + jQuery Validate"
Anyone using the medium editor with jQuery Validate Plugin and give me a hint how I can validate the Editor Field?

[2015-09-11 12:36] csarven opened #808 "Completeness and intention of blockContainerElementNames"
Currently we have this:

[code]

That is not a complete list of block level elements e.g., `p`, `div`.

Should this array be the complete list of block level elements or is there a particular semantics in context of ME that's outside of the well-known list of block level elements. See also: https://developer.mozilla.org/en/docs/Web/HTML/Block-level_elements

[2015-09-11 12:44] csarven opened #809 "execFormatBlock and blockquote handling within blockContainerElementNames"
The current handling of `execFormatBlock` for `blockquote` is that, the following:

[code]
and
[code]
works as expected provided that `div` and `p` are not in the `blockContainerElementNames` array.

The following for example:
[code]
does not work because `section` is listed in `blockContainerElementNames` (see also #808 ). Expectation would be:
[code]

I think that `execFormatBlock` needs a revis

[2015-09-11 12:55] csarven commented on #809
I should add that, in this example:
[code]
it is not entirely clear where the blockquote should happen. My intuition is that, it should happen around `p`

[2015-09-11 13:26] nmielnik commented on #808
The only element missing from the list is `div` (`p` is the first one in the list) and this was done intentionally at one point, since the outer container of the editor will always be a div.  We would have to understand what kind of problems not having `div` in the list is causing if we were going to try to fix anything.

[2015-09-11 13:30] nmielnik commented on #809
Where does the `<div contenteditable=true>` element fit in these examples you've laid out?

[2015-09-11 13:32] csarven commented on #808
Oops, totally skipped over `p`, thanks.

As I understand it, the situation is the other way around as the example with `section` in #809 tries to explain. Basically, if `section` is on the list (and as it should be), then things like execFormatBlock should work. Adding `div` into that list may/will break things that's working with `isBlockContainer`

[2015-09-11 13:33] csarven commented on #809
`@contentediable` is on the `body`.

[2015-09-11 18:09] hraynaud commented on #807
Have the same question. I can validate the field but if delete the contents the field still has "<p></br></p>" empty paragraph with a line return in it.  Which when validated causes a jquery error

[2015-09-12 10:48] superKalo opened #810 "Is it possible to add a class to the html element created by medium-editor?"
Hello,

I need to "fake" H1 button, which applies an actual H2 tag in the HTML, but puts a class of ".h1". Is that possible?

Here's my configuration:
[code]
All good, except I don't understand how I can apply a ".h1" class in the H2 element created by medium-editor? Is this possible via the configuration settings?

Thanks in Advance!
Kalo.

[2015-09-12 15:59] nmielnik commented on #810
There isn't currently a built-in way to accomplish what you're describing.  However, it shouldn't be difficult to accomplish what you're trying to do with a very simple extension.

Checkout our [Button Tutorial/Walkthrough](https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/WALKTHROUGH-BUTTON.md).  It shows how to create a simple button using rangy's classApplier, which would pro

[2015-09-12 16:05] nmielnik commented on #808
If I understand this correctly, I think the issue is more specifically around `execFormatBlock` and whether it should even be using `blockContainerElementNames`.  Currently, I think the `blockContainerElementNames` are ok as is, but may possibly need to be renamed.

Closing this issue as #809 will address the root issue.

[2015-09-12 16:05] #808 closed

[2015-09-12 16:15] nmielnik commented on #807
A few questions:

1) Are you folks using a `<textarea>` inside the form as the editor element?  I'm assuming that since you're using form validation, you're probably not using a `<div>` inside the form, you're allowing medium-editor to create a `<div>` that it keeps synchronized with the `<textarea>`

2) Is the issue with the `<p><br/></p>` the only issue that's breaking your use-case with the jQu

[2015-09-12 16:18] nmielnik commented on #804
@chisleu this is currently not supported by medium-editor.  The editor currently does not have any rules on the kind of content it can produce, other than some filtering of crappy elements when the user copies and pastes.

This seems like it could be an interesting feature though, as it could be one way to help cleanup some of the nasty and inconsistent html that contenteditable can produce in dif

[2015-09-12 16:27] nmielnik commented on #800
This is an interesting use-case.  I did a quick check on Google Docs and in Word, and they handle these two things separately.

* In Google Docs, once the url is auto-linked, changing the text does _NOT_ change the href.  So you would end up with `'http://www.google.com'` as the text, but the href would remain `'http://www.google.co'`
* In Word, once the url is auto-linked, changing the text chang

[2015-09-12 16:29] nmielnik commented on #789
@arekkas would you mind mentioning if you were able to work around the issue or not?  We had an in-depth discussion in gitter but it'd be good to have some more information in this issue so people can refer to it easier if they run into something similar.

[2015-09-12 16:30] nmielnik commented on #781
@maciekmp were you able to work around the issue?

[2015-09-12 16:37] nmielnik commented on #667
@sathyanpry are you also using FileSaveJS when you see this issue?  Or are you seeing the issue in a different environment/scenario?

If anyone can provide a jsfiddle with the issue reproducing, we'll be happy to take a look.  Without that, there seems to be a lot of use-case specific things that will make it hard to diagnose what could be happening.  Even more details as to exactly what framework

[2015-09-12 16:39] hraynaud commented on #807
@nmielnik Thanks for the response.

1)  Yes.

2)  I had another issue. It appears that the chain of events that clears the errors (presumably some kind of blur or focusout event) was not getting properly triggered for hidden fields after the related field was correctly populated so the validation errors were not removed.

In my case I was using jquery-fileupload which on completion populates a hid

[2015-09-12 17:07] arekkas commented on #789
Hey I'm currently on holidays but i'll report back around 22th of september :)

[2015-09-12 17:09] csarven commented on #808
Closing this issue is fine if the semantics of `blockContainerElementNames` implies that "the outer container of the editor will always be a div". IMO, this is not always the case nor should be forced. I would also suggest if that interpretation is not well-known some documentation on that would help.

[2015-09-12 17:30] nmielnik commented on #790
@niftykins I believe I have a fix for this.  Thanks a ton for opening the issue and creating the codepen! I was able very quickly make a test case to reproduce your issue [here](https://github.com/yabwe/medium-editor/pull/811/files) so thanks again!

[2015-09-12 23:15] chisleu commented on #804
I see. I'll see what I can do on my end. I don't want to give users the ability to do script tags and the like.

[2015-09-13 08:19] #790 closed

[2015-09-14 07:06] maciekmp commented on #781
Yes, it works for me now if we put div inside anchor. http://jsfiddle.net/65d6duwc/1/ Thanks!

[2015-09-14 08:26] superKalo commented on #810
Thanks for the swift reply, @nmielnik :)

[2015-09-14 08:26] #810 closed

[2015-09-14 13:40] nmielnik commented on #810
:+1:

[2015-09-14 13:41] nmielnik commented on #781
No problem, thanks for raising the issue!

[2015-09-14 13:41] #781 closed

[2015-09-15 18:08] damiansb opened #812 "Auto-p behavior on multiple nested contenteditable="true""
Hello, guys.

I'm planning on using medium-editor.js on some hard html templates for an application, but i ran into a few doubts. Since I couldn't find another place to ask, I'd like to ask here.

Using only one instance of the editor, I can't make auto-p's inside a `div[contenteditable="false"] > div[contenteditable="true"]`. If we type inside it, it won't create the paragraph unless we press [re

[2015-09-16 05:46] litera commented on #202
@antoniobrandao It's not us, that don't understand your point. Apparently it's you who doesn't explain it very well. What you're referring to is CSS related. If you want us to actually understand what you mean then I suggest you explain by examples. one by one. And with each example provide additional information what parts are CSS and what parts are AI (as you call it - I'd just say programmatic

[2015-09-16 05:54] litera opened #813 "Styling toolbars, themes documentation"
I would like to change toolbar style and one of the things I would like to change its height which I would like to set to 50px instead of the current 60px. I've set it all in CSS but toolbar position (if not set as static) is now 10px higher than normal. I can compensate this with `top-margin` but I consider this a hack, as editor options should provide a setting for toolbar height or something so

[2015-09-16 06:04] litera commented on #800
As I see it the proper way would have to be this: if link was auto-linked then HREF should change along with link text change **as long as the change still results in a URL**. So in case one would click inside the link and insert a space, HREF shouldn't change even though text has changed.

I'm not sure how Word handles this case, but apparently it works more correctly than GDocs. Keeping link as

[2015-09-16 17:13] antoniobrandao commented on #202
I give up.

[2015-09-17 00:25] gerherz opened #815 "Big amount of empty paragraphs hangs Chrome"
When I use pasteHTML() to add the following content, it takes forever to complete and usually hangs the browser. It's happening on Chrome, but not on Firefox.

[code]

I know that the amount of new lines is quite big, but I'm using this as an editor for user-generated content, so I have no control on the amount of new lines the user adds.

[2015-09-17 08:34] duncanmudulo commented on #274
Nice

[2015-09-17 12:49] litera commented on #813
#### Regarding *Ok* and *Cancel* buttons in link form
I've managed to change their default visual representation by changing prototype properties' values before creating medium editor's instance:

[code]

[2015-09-17 19:24] erickbelfy opened #816 "Can i insert HTML inputs inside of anchor dialog box?"
I was wondering insert a `<select>` tag inside of anchor dialog box which makes me capable to force user choose specific pages instead of leave a input type text and let user insert any external links. It is possible?

[2015-09-17 19:29] erickbelfy commented on #816
Maybe we can implement like, pass an JSON value containing `{"value": "foo", "label": "bar"}` and if we pass this parameter internally the plugin creates the select input with all of my json values.

[2015-09-20 15:30] csarven opened #818 "pre and ENTER (CR / new line) event behaviour"
Creating this issue for future reference. It may require some enhancement on how <kbd>ENTER</kbd> is handled inside `pre` (preformatted text). Otherwise, it can be closed.

When <kbd>ENTER</kbd> is pressed inside `pre`, a new paragraph starts. There is a brief moment which can be observed, when after <kbd>ENTER</kbd> is fired, the text (after the caret location) appears as a new line in the `pre`

[2015-09-22 09:13] arekkas commented on #789
I was not able to work around this issue yet. We talked in gitter about making it possible to use block level elements in contenteditable and that it requires multiple contenteditable fields.

Something similar has btw already been done here: http://getcontenttools.com

[2015-09-23 20:15] DylanPiercey opened #821 "Different return options"
I couldn't find any configuration options for how return works. Currently "enter" creates a `<p>` and "shift + enter" creates a `<br>`.

It would be nice to be able to configure this, or swap it around.
Ideally "enter" would be a `<br>` and two enters would be a `<p>`, however I'm not sure if that fits everyones use cases.

[2015-09-23 21:03] nmielnik commented on #821
@DylanPiercey I believe this is a duplicate of #70 , would you mind looking at that issue and adding any feedback?  For now, I'll close this issue as I think it's a duplicate.  Feel free to open another issue if you disagree.

[2015-09-23 21:03] #821 closed

[2015-09-24 18:50] litera opened #822 "Extensions documentation is apparently invalid"
I'm trying to make my own MediumEditor extension and I'm following your guide. First I'm myking the simplest possible plugin that doesn't do anything as desribed in [documented example](https://github.com/yabwe/medium-editor/blob/master/src/js/extensions/WALKTHROUGH-EXTENSION.md#1-define-the-extension)

My extension looks like this:
[code]
and when making the editor I register it as described in t